/* -------------------------------------------------
    Base colors
   ------------------------------------------------- */

$colorBase: #4f4f4f;
$colorGreenGray: #f2f3ec;
$colorTurqLight: #5eafb9;
$colorTurq: #33beb7;
$colorTurqBlue: #86b0bc;

$colorLink: $colorBase;
$colorLinkBorder: rgba($colorBase, .5);
$colorLinkBorderWhite: rgba(255, 255, 255, 0.5);
