@import "mixins";
@import "bourbon";

/* -------------------------------------------------
    Grids
   ------------------------------------------------- */


/* м.б. переделать на float?*/
.row-flex {
  @include display(flex);
  @include flex-wrap(wrap);
  margin-left: -$bGridGutter;
  margin-right: -$bGridGutter;


  >[class*='col-'] {
    min-height: 1px;
    padding: 0 $bGridGutter;

    display: inline-block \9;
    margin-left: -.3em \9;
    vertical-align: top \9;
  }
}

.row-extra-padding {
  margin: -$bGridGutter;

  >[class*='col-'] {
    padding: $bGridGutter;
  }
}


@include grids(12);
