mixin mini-doc-review(img)
	.mini-doc-review
		a.mini-doc-review--link(href='#')
			| Прочитать другие отзывы об Александре Сергеевиче
			img(src='#{srcPath}img/doctor-photos/#{img}')
		.mini-doc-review--say-hello
			a(href='#').-link-wrap-
				span Познакомиться со специалистом
				|&nbsp;&rarr;
