doctype html
html
	head
		title Садко -&nbsp;
			block title
		include controls/head
	body
		div.wrapper
			main.content.landing-page
				block content					
			include includes/footer
		include modules/book-app
		include controls/scripts
		block pageJS