div.service-section.clinic-block

	//Заголовок
	div.service-top-block.clear
		h2 Поликлиника
	//Список услуг
	div.service-section-wrapper
		
		include ../modules/service

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-clinic.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name Лечебно-диагностический центр
						div.textblock 
							p В клинике «САДКО» действует принцип «ОТ и ДО», означающий комплексный подход к Вашему здоровью и позволяющий гармонично сочетать возможность тщательного обследования и лечения в условиях одного медицинского учреждения. 

							p Лечебно-диагностический центр  «САДКО» — это 12 специализированных  отделений, оснащенных новейшим оборудованием экспертного класса с исключительными  возможностями, полная компьютеризация и автоматизация комплекса.
						//Вместо колонок - блоки по 2 адреса
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Бекетова, 13
							div.col-5
								a(href="#") пр. Ленина, 67/1
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Родионова, 199
							div.col-5
								a(href="#") Сормовское шоссе, 20

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 555-55-99
				a.btn.book-toggle(href="#"   data-book-info="Записаться на приём в поликлинику" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём