div.service-section.dino-block
	//Заголовок
	div.service-top-block.clear
		h2 Детская стоматология «Динозубрик»
	//Список услуг
	div.service-section-wrapper

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-dino.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name Первая стоматология для детей
						div.textblock 
							p Сеть клиник «Садко» уделяет особое внимание детской стоматологии, ведь маленькие пациенты должны привыкать заботиться о своих зубах с самого раннего возраста. Идея создания специализированной клиники воплотилась в 2006 г. 

							p Мы делаем все, чтобы лечение в наших клиниках проходило максимально комфортно, весело, безболезненно и абсолютно не страшно. Сегодня стоматология для детей «Динозубрик» в Нижнем Новгороде работает в четырех районах города, и в каждом филиале можно отлично провести время с большим, мягким, плюшевым Динозубриком, поиграть в компьютерные игры, порисовать, собрать конструктор, поучаствовать в конкурсах, получить подарки и, конечно же, самое важное — вылечить зубки!

							p 
								a(href="http://dino.sadkomed.ru") http://dino.sadkomed.ru

						//Вместо колонок - блоки по 2 адреса

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 4-120-777
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём в детскую стоматологию" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём