div.service-section.implant-block
	//Заголовок
	div.service-top-block.clear
		h2 Центр имплантации
	//Список услуг
	div.service-section-wrapper

		//Список услуг
		div.clinic-service-section
			
			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Услуги
				//Список
				ul
					li
						a(href="#") Компьютерная 3D диагностика
					li
						a(href="#") Одномоментная имплантация
					li
						a(href="#") Полное восстановление зубного ряда
					li
						a(href="#") Костная пластика
					li
						a(href="#") Синус-лифтинг
					li
						a(href="#") Мини-импланты
					li
						a(href="#") Протезирование на имплантах 

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Системы имплантации
				//Список
				ul
					li
						a(href="#") ОССТЕМ
					li
						a(href="#") Biohorizont  (США)
					li
						a(href="#") Adin (Израиль)
					li
						a(href="#") Implantium(Корея)
					li
						a(href="#") Semados
					li
						a(href="#") XIVE
					li
						a(href="#") Astra Tech
					li
						a(href="#") Система Zimmer
					li
						a(href="#") Nobel Biocare

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-implant.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name Технологии на службе человека
						div.textblock 
							p Имплантологический центр должен быть оборудован специализрованными хирургическими кабнетами для хирурга-имплантолога и всеми необходимыми инструментами (кассетами, сверлами, наконечниками), целым рядом сертифицированных имплантов и расходных материалов.
							p Специалист-имплантолог помимо диплома об окончании медицинской академии, должен иметь: сертификат специалиста по имплантации, стаж работы не менее 3 лет и постоянные стажировки в области имплантологии.

						//Вместо колонок - блоки по 2 адреса
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Белинского, 71/1
							div.col-5
								a(href="#") ул. Новая, 51
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Бекетова, 13
							div.col-5
								a(href="#") ул. Варварская, 8/22
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Родионова, 199
							div.col-5
								a(href="#") Сормовское шоссе, 20
						div.row-flex.address-row
							div.col-5
								a(href="#") пр. Ленина, 67/1
							div.col-5
								a(href="#") ул. Пискунова, 22

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 4-120-777
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём в Центр имплантации" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём