div.service-section.jam-block
	//Заголовок
	div.service-top-block.clear
		h2 Центр ортодонтии «Джем»
	//Список услуг
	div.service-section-wrapper

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-jam.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name Ортодонтия может всё
						div.textblock 
							p Джем — это клиника полного цикла, где все этапы ортодонтического лечения от первой консультации до последнего посещения проходят у одних и тех же специалистов. Техника работы у всех врачей разная, соместная работа незнакомых между собой профессионалов может привести к непрогнозируемому результату. Чтобы этого избежать, в гашей клинике врачи работают командами и специально изучает подходы друг друга.

							p Наша цель — идеальная улыбка. Не бывает тяжелых случаев, когда есть настоящие профессионалы своего дела. 

							p 
								a(href="http://jam.sadkomed.ru") http://jam.sadkomed.ru

						//Вместо колонок - блоки по 2 адреса

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 4-120-777
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём в центр ортодонтии" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём