div.service-section.men-block
	//Заголовок
	div.service-top-block.clear
		h2 Центр мужского здоровья
	//Список услуг
	div.service-section-wrapper

		//Список услуг
		div.clinic-service-section
			//Блок услуг
			div.service-block
				//Заголовок
				a(href="#").service-header Венерология


			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Эндокринология
				//Список

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Кардиология
				//Список

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Физиотерапевтическое лечение
				//Список

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Программы обследования
				//Список

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Урология
				//Список
				ul
					li
						a(href="#") Лечение простатита
					li
						a(href="#") Лечение заболеваний, передающихся половым путем
					li
						a(href="#") Лечение мужчкого бесплодия
					li
						a(href="#") Лечение уретрита
					li
						a(href="#") Подгоовка к ЭКО и ЭКСИ
					li
						a(href="#") Лечение нарушений эректильной дисфункции
					li
						a(href="#") Лечение баланопостита
					li
						a(href="#") Лечение заболеваний органов мошенки
					li
						a(href="#") Лечение моче-каменной болезни
					li
						a(href="#") Лечение заболеваний почек


			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Другие направления
				//Список
				ul
					li
						a(href="#") Иглорефлексотерапия
					li
						a(href="#") Массаж
					li
						a(href="#") Помощь при преодалении мужского климакса
					li
						a(href="#") Купирование почечных колик

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-men.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name Уверенный взгляд в будущее
						div.textblock 
							p Болеть нельзя — под этим лозунгом мужчины выходят на работу с температурой, зубную боль лечат полосканием водкой, а поход в баню «за здоровьем» оборачивается неприятными последствиями. Все потому, что есть более приоритетные задачи и времени на себя не остается.

							p В центре мужского здоровья «САДКО» мы не тратим время наших пациентов. Заключение врача и результаты анализов вы увидите в личном кабинете, о времени приема напомнит смс от колл-центра, процедуры проводятся на современном оборудовании и занимают вдвое меньше времени против обычных способов диагностики и лечения.

						//Вместо колонок - блоки по 2 адреса
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Белинского, 71/1
							div.col-5
								a(href="#") ул. Родионова, 199
						div.row-flex.address-row
							div.col-5
								a(href="#") пр. Ленина, 67/1

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 4-120-777
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём в Центр мужского здоровья" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём