div.service-section.neurology-block
	//Заголовок
	div.service-top-block.clear
		h2 Центр неврологии
	//Список услуг
	div.service-section-wrapper

		//Список услуг
		div.clinic-service-section
			
			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Центр неврологии
				//Список
				ul
					li
						a(href="#") Консультация невролога
					li
						a(href="#") Лабораторные исследования
					li
						a(href="#") УЗГД сосудов головного мозга
					li
						a(href="#") Подводное вытяжение позвоночника
					li
						a(href="#") Лечение головных болей
					li
						a(href="#") Лечение боли в спине
					li
						a(href="#") Лечение бессонницы, депрессии
					li
						a(href="#") Лечение хронической усталости
					li
						a(href="#") Лечение межпозвоночных грыж
					li
						a(href="#") Лечение заболеваний других заболеваний нервной системы

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Физиотерапевтическое отделение
				//Список
				ul
					li
						a(href="#") Гирудотерапия
					li
						a(href="#") Подводное вытяжение позвоночника
					li
						a(href="#") Углекислые ванны
					li
						a(href="#") Лечебная физкультура
					li
						a(href="#") Прессотерапия
					li
						a(href="#") Массаж
					li
						a(href="#") Осцилляцинный массаж
					li
						a(href="#") Магнитотерапия
					li
						a(href="#") Иглорефлексотреапия

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-neurolog.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name Центр реабилитации
						div.textblock 
							p Первый в Нижнем Новгороде специализированный комплекс, где «От и До» проходит весь курс лечения и реабилитации, с применением медицинских SPA-процедур, всех возможных неврологических заболеваний.

							p Специалисты Неврологического центра «Садко» (неврологи, ревматологи, физиотерапевты, кинезотерапевты) профессионально  занимаются лечением всех видов боли могут быстро привести вас в форму.

						//Вместо колонок - блоки по 2 адреса
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Варварская, 8/22
							div.col-5
								a(href="#") Сормовское шоссе, 20
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Родионова, 199
							div.col-5
								a(href="#") пр. Ленина, 67/1

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 4-120-777
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём в Центр неврологии" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём