//Другие услуги

div.row-flex.doctor-special-masonry
	//Блок с услугой
	div.col-4.doctor-special-block
		a.special-header.blue-link.hover-link(href="#") Лечение зубов во сне
		div.textblock Помните знаменитый детский мультфильм про маленькую птичку Тари, которая помогла крокодилу вычистить и вылечить зубы? Хорошо, что у крокодила нашлась такая помощница, а то долго бы он мучился и страдал от зубной боли
		//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
		div.hover-block
			a.btn.book-toggle(href="#" data-book-info="Записаться на лечение зубов" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение зубов.") Записаться
	//Блок с услугой
	div.col-4.doctor-special-block
		a.special-header.blue-link.hover-link(href="#") Лечение под микроскопом
		div.textblock У стоматологов сети клиник САДКО появилась возможность сохранить даже такие зубы, которые ранее казались безнадежными из-за сильного воспаления и невозможности повторного лечения, то есть требовали удаления. 
		//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
		div.hover-block
			a.btn.book-toggle(href="#" data-book-info="Записаться на лечение зубов" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение зубов.") Записаться
	//Блок с услугой
	div.col-4.doctor-special-block
		a.special-header.blue-link.hover-link(href="#") Имплантация зубов
		div.textblock Имплантология — лидирующее направление современной стоматологии, позволяющее успешно лечить адентию (отсутствие зубов) у пациентов
		//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
		div.hover-block
			a.btn.book-toggle(href="#" data-book-info="Записаться на имплантацию" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на имплатацию.") Записаться
	//Блок с услугой
	div.col-4.doctor-special-block
		a.special-header.blue-link.hover-link(href="#") Консультация
		div.textblock Регулярное посещение стоматолога в развитых странах давно стало естественным и обязательным для воспитанных и интеллигентных людей.
		//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
		div.hover-block
			a.btn.book-toggle(href="#" data-book-info="Записаться на консультацию к стоматологу" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на консультацию к стоматологу.") Записаться
	//Блок с услугой
	div.col-4.doctor-special-block
		a.special-header.blue-link.hover-link(href="#") Отбеливание зубов
		div.textblock Улыбка каждого человека — это его индивидуальная особенность. Также как не бывает совершенно одинаковых глаз и отпечатков пальцев, каждая улыбка — уникальна. 
		//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
		div.hover-block
			a.btn.book-toggle(href="#" data-book-info="Записаться на отбеливание зубов" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на отбеливание зубов.") Записаться	