div.row-flex.doctor-reviews
	//Блок отзыва
	div.col-4
		div.doctor-review-block.textblock
			p Огромное спасибо Ершову Александру Сергеевичу за высокий профессионализм, чуткое и внимательное отношение к пациентам, наглядное и понятное объяснение результатов диагностики, сумевшему вернуть радость жизни, омраченную в двух других клиниках (в одной из которых не знают где право, где лево, а в другой посмотрев снимки, но ориентируясь на описание на ощупь (и это в 21 веке!) взяли биопсию,и не найдя в ней никаких отклонений, давили на психику, что онкология меня обязательно настигнет, если я не буду пить их БАДы).
			p Я рада, что на собственном опыте убедилась в том, что Садко действительно клиника, оснащенная современным оборудованием, на котором работают Профессионалы!
			p Отдельное спасибо и специалисту кабинета маммографии!
		div.name 23 ноября 2015 г., Елена 35 лет
	//Блок отзыва
	div.col-4
		div.doctor-review-block.textblock
			|Большую часть лета 2015 занимаюсь ЛФК в Центре неврологии и реабилитации. Конечно, все специалисты, которые работали со мной оставили только положительные впечатления, но особенно мне приятно посещать занятия ЛФК у Коробейникова Владимира Сергеевича. С ним сложилась отличная рабочая атмосфера!По возможности стараюсь каждую неделю записываться к Владимиру Сергеевичу на тренировку. Спасибо ему огромное от меня и моей спины.
		div.name 21 февраля 2003 г., Ирина 42 года
	//Блок отзыва
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет
	//Блок отзыва
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет
	//Блок отзыва
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет
	//Блок отзыва
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет

//Добавить отзыв
div.relative.add-reviews-wrapper

	//Ссылка на все статьи
	a.doctor-more-link.hover-link(href="#") Все отзывы

	//Кнопка с вызовом попапа
	div.open-question-wrapper
		a.btn.btn-reverse-colors.open-question-popup(href="#") Добавить отзыв
		//Попап с вопросом, стрелка вниз
		div.question-popup.top-popup

			//Форма
			form.book-form 
				div.closed-popup Закрыть
				//Заголовок
				div.popup-header Расскажите ваше мнение
				
				//Текстовое поле
				textarea.textarea-scrollbar.scrollbar-outer Здравствуйте! Я хотел бы оставить свою благодарность молодому,но очень доброму и старательному врачу Морозовой Анне Сергеевне. Как я знаю новый гинеколог на пр. Ленина,но после ее приема она оставляет только хорошие мысли. Не всегда молодые специалисты могут найти подход к пациенту,а Анна Сергеевна говорит все по делу и дарит душевную улыбку! Хочется пожелать доктору успехов в своей профессии,преданности и хорошего настроения. Теперь она стала для меня не только врач,но и новым другом! Спасибо ей за работу.
				div.row-flex
					div.col-7
						div.book-form--row
							label Имя
							input.book-form--row--content(type='text')
					div.col-5
						div.book-form--row
							label Возраст
							input.book-form--row--content.ages-input(type='text')
				div.row-flex
					div.col-7
						div.book-form--row
							label E-mail
							input.book-form--row--content(type='email')
				//Отправка
				div.-justify-content-
					label.book-form--accept
						input(type='checkbox', name='license', value='')
						| Я принимаю <a href='#' class="-link-turq- -reduced-">условия</a> обработки моих данных
					button.btn Опубликовать

			//Спасибо
			div.thanks-block
				div.thanks-header Спасибо за ваше мнение!
				div.textblock Ваш отзыв появится на сайте в течение 24 часов. Мы публикуем абсолютно все отзывы наших пациентов. Если отзыв не был опубликован или все пошло вообще не так — напишите письмо напрямую руководителю отдела маркетинга на почту 
					a(href="#") jenni@mail.ru
				a.btn.closed-popup Закрыть