div.service-section.dental-block
	//Заголовок
	div.service-top-block.clear
		h2 Стоматология
	//Список услуг

	div.service-section-wrapper

		//Список услуг
		div.clinic-service-section
			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Диагностика
				//Список
				ul
					li
						a(href="#") Консультация стоматолога
					li
						a(href="#") Панорамный снимок
					li
						a(href="#") Радиовизиография, прицельный снимок
					li
						a(href="#") Компьютерная дентальная 
					li
						a(href="#") 3D томография
					li
						a(href="#") Цефалостат
					li
						a(href="#") Миография и К7
					li
						a(href="#") Цифровой дизайн улыбки

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Терапия. Лечение зубов
				//Список
				ul
					li
						a(href="#") Лечение кариеса
					li
						a(href="#") Лечение пульпита
					li
						a(href="#") Лечение периодонтита
					li
						a(href="#") Лечение зубов под микроскопом
					li
						a(href="#") Лечение зубов во сне (под седацией)
					li
						a(href="#") Отбеливание зубов
					li
						a(href="#") Лечение зубов без бор-машины

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Пародонтология
				//Список
				ul
					li
						a(href="#") Лечение пародонтита
					li
						a(href="#") Лечение пародонтоза

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Хирургия
				//Список
				ul
					li
						a(href="#") Удаление зубов
					li
						a(href="#") Удаление зуба мудрости
					li
						a(href="#") Иссичение капюшона
					li
						a(href="#") Зубосохраняющие операции
					li
						a(href="#") Лазерная хирургия
					li
						a(href="#") Эстетическая хирурия десен

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Лазерная стоматология
				//Список
				ul
					li
						a(href="#") Лазерное отбеливание зубов
					li
						a(href="#") Лазерное лечение зубов
					li
						a(href="#") Лазерная хирургия

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Ортопедия. Протезирование зубов
				//Список
				ul
					li
						a(href="#") Виниры и люминиры
					li
						a(href="#") Съемное протезирование
					li
						a(href="#") Несъемное протезирование
					li
						a(href="#") Компьютерное 3D моделирование
					li
						a(href="#") Безметаловая керамика и металлокерамика
					li
						a(href="#") Протезирование на имплантах
					li
						a(href="#") Изготовление спортивных кап
					li
						a(href="#") Цифровой дизайн улыбки
					li
						a(href="#") Микропротезирование 
					li
						a(href="#") Лабораторный этап изготовления ортопедических конструкций


			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Ортодонтия
				//Список
				ul
					li
						a(href="#") Сапфировые брекеты
					li
						a(href="#") Керамические брекеты
					li
						a(href="#") Ортодонтическая диагностика
					li
						a(href="#") Классические брекеты
					li
						a(href="#") Невидимые лингвальные брекеты «INCOGNITO»
					li
						a(href="#") Детская ортодонтия
					li
						a(href="#") Эстетическое восстановление после завершения лечения
					li
						a(href="#") Гигиена и профилактика
					li
						a(href="#") Лабораторный этап изготовления ортодонтических аппаратов

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Эстетическая стоматология
				//Список
				ul
					li
						a(href="#") Керамические вкладки
					li
						a(href="#") Ремотерапия
					li
						a(href="#") Лазерное отбеливание зубов
					li
						a(href="#") Отбеливание зубов системой ZOOM-3
					li
						a(href="#") Отбеливание системой Beyond
			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Гигиена и профилактика
				//Список
				ul
					li
						a(href="#") Гигиеническая чистка Air flow
					li
						a(href="#") Чистка зубов ультразуком
					li
						a(href="#") Ремотерапия
					li
						a(href="#") Профессиональная гигиена имплантов и коронок
					li
						a(href="#") Профессиональная ортодонтическая гигиена

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Нейромышечная стоматология
				//Список
				ul
					li
						a(href="#") Миомонитор. Диагностика
					li
						a(href="#") К7 Диагностика
					li
						a(href="#") Нейромышечное лечение

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Имплантация зубов
				//Список
				ul
					li
						a(href="#") Компьютерная 3D диагностика
					li
						a(href="#") Одномоментная имплантация
					li
						a(href="#") Полное восстановление зубного ряда
					li
						a(href="#") Костная пластика
					li
						a(href="#") Синус-лифтинг
					li
						a(href="#") Мини-импланты
					li
						a(href="#") Протезирование на имплантах

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Лечение зубов во сне
				//Список
				ul
					li
						a(href="#") Под наркозом
					li
						a(href="#") Под седацией

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Дентальная микроскопия
				//Список
				ul
					li
						a(href="#") Лечение под микроскопом
					li
						a(href="#") Эстетическое восстановление под микроскопом

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-stomatology.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name 7 лицензированных клиник стоматологии в Нижнем Новгороде
						div.textblock 
							p Каждый филиал имеет свой неповторимый дизайн и особенную атмосферу. В стоматологии САДКО всегда царит уют и комфорт.
							p Инновационный подход в лечении зубов дает пациентам наших стоматологических клиник возможность получить дополнительные гарантии качества, а также сократить сроки лечения зубов. В стоматологии САДКО используются новейшие методы лечения зубов, а врачи клиники регулярно участвуют в семинарах, конференциях и проходят курсы повышения квалификации.
						//Вместо колонок - блоки по 2 адреса
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Белинского, 71/1
							div.col-5
								a(href="#") ул. Новая, 51
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Бекетова, 13
							div.col-5
								a(href="#") ул. Варварская, 8/22
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Родионова, 199
							div.col-5
								a(href="#") Сормовское шоссе, 20
						div.row-flex.address-row
							div.col-5
								a(href="#") пр. Ленина, 67/1
			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 412-01-20
						|  — общий телефон для записи на прием 
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём к стоматологу" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём
		