div.service-section.women-block
	//Заголовок
	div.service-top-block.clear
		h2 Центр женского здоровья
	//Список услуг
	div.service-section-wrapper

		//Список услуг
		div.clinic-service-section
			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Гинекология
				//Список
				ul
					li
						a(href="#") Консультация гинеколога
					li
						a(href="#") УЗГД диагностика на аппарате Volusson 4D Hdlife
					li
						a(href="#") Подготовка к беременности
					li
						a(href="#") Ведение беременности
					li
						a(href="#") Лечение бесплодия
					li
						a(href="#") Консультация гинеколог-эндокринолога
					li
						a(href="#") Лабораторные исследования
					li
						a(href="#") Подростковая гинекология
					li
						a(href="#") Поготовка к ЭКО, ЭКСИ
					li
						a(href="#") Лечение цистита
					li
						a(href="#") Лечение аминореи
					li
						a(href="#") Подбор контрацепции
					li
						a(href="#") Лечение гормональных нарушений
					li
						a(href="#") Личение кист яичников
					li
						a(href="#") Лечение патологий шейки матки
					li
						a(href="#") Кольпоскопия
					li
						a(href="#") Лечение ЗППП
					li
						a(href="#") Лечение симптомов климатерического синдрома
					li
						a(href="#") Лечение других гинекологических заболеваний

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Оперативная гинекология
				//Список
				ul
					li
						a(href="#") Гистерорезектоскопия
					li
						a(href="#") Хирургические выскабливания
					li
						a(href="#") Прерывание нежелательной беременности

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Маммология
				//Список
				ul
					li
						a(href="#") Консультация маммолога
					li
						a(href="#") УЗГД Диагностика молочных желез
					li
						a(href="#") Маммография с томосинтезом
					li
						a(href="#") Стереотоксический биопсийный забор
					li
						a(href="#") Лечение мастопатии
					li
						a(href="#") Ранняя диагностика рака молочной железы

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Урология
				//Список
				ul
					li
						a(href="#") Консультация уролога
					li
						a(href="#") Лаборатоные исследования
					li
						a(href="#") УЗГД диагностика
					li
						a(href="#") Урофлометрия
					li
						a(href="#") Лечение простатита
					li
						a(href="#") Лечение цистита
					li
						a(href="#") Цистоскопия
					li
						a(href="#") Лечение мужского бесплодия

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Комплексные программы обследования
				//Список
				ul
					li
						a(href="#") Программы обследования
					li
						a(href="#") Школа лечения ожирения
					li
						a(href="#") Школа борьбы с сахарным диабетом

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Физиотерапевтическое отделение
				//Список
				ul
					li
						a(href="#") Гирудотерапия
					li
						a(href="#") Занятия в бассейне для беременных
					li
						a(href="#") Гирудотерапия
					li
						a(href="#") Массаж
					li
						a(href="#") Академия отцовства и материнства
					li
						a(href="#") Иглорефлексотерапия

			//Блок услуг
			div.service-block
				//Заголовок
				div.service-header Эндокринология
				//Список
				ul
					li
						a(href="#") Консультация эндокринолога
					li
						a(href="#") Лабораторные исследования
					li
						a(href="#") УЗГД диагностика щитовидной железы
					li
						a(href="#") Лечение диабета
					li
						a(href="#") Лечение гипер/гипофункции щитовидной железы
					li
						a(href="#") Лечение избыточного веса

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-women.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name В самый важный момент жизни
						div.textblock 
							p Сама концепция Центра Женского Здоровья создана на основе желаний женщины: желания создать семью, построить гармоничные отношения, стать мамой, быть здоровой, красивой и довольной собой в любом возрасте.

							p Наш центр мы можем смело назвать центром встречи настоящий женщин.  Здесь  всегда есть информация об инновациях для здоровья женщины. Специалисты нашего центра всегда смогут подобрать для Вас комплексную диагностику, лечение, диету или физиотерапию.  Занятия в академии «Царство Любви» настроят на позитив и помогут стать счастливой и с радостью смотреть на такой многообразный и яркий мир.

						//Вместо колонок - блоки по 2 адреса
						div.row-flex.address-row
							div.col-5
								a(href="#") ул. Белинского, 71/1
							div.col-5
								a(href="#") ул. Родионова, 199
						div.row-flex.address-row
							div.col-5
								a(href="#") пр. Ленина, 67/1

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 4-120-777
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём в Центр женского здоровья" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём