div.service-section.zdorovenok-block
	//Заголовок
	div.service-top-block.clear
		h2 Детская поликлиника «Здоровенок»
	//Список услуг
	div.service-section-wrapper

		//Клиники
		div.about-service
			div.service-text
				//Картинка-фон
				img.service-bg(src="#{srcPath}img/bg/bg-zdorov.png" alt="")
				//Описание
				div.row-flex
					div.col-7
						div.clinics-name Страна здоровья
						div.textblock 
							p Очень важно, чтобы в период болезни дети как можно меньше концентрировались на грустных мыслях, не чувствовали себя изолированными от общества и привычного детского времяпровождения. Именно поэтому, мы постарались создать клинику, где сама атмосфера, процесс лечения и даже настроение сотрудников будут способствовать скорейшему выздоровлению.

							p Хорошие эмоции, веселый смех — источник жизненной энергии и силы. К сожалению, именно этих эмоций так часто не хватает маленьким пациентам. Специалисты отмечают, что позитивный настрой и хорошее настроение ускоряют процесс выздоровления на 25-30 %.

							p 
								a(href="http://zdorovenok.sadkomed.ru") http://zdorovenok.sadkomed.ru

						//Вместо колонок - блоки по 2 адреса

			div.clinics-phone-wrapper.clear
				//Адреса
				div.phone-block
					span 
						b 8 (831) 4-120-777
				a.btn.book-toggle(href="#"  data-book-info="Записаться на приём в детскую поликлинику" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на приём