//Здесь как обычно - обёртка, показываем, что эти блоки показываем по загрузке
div.doctor-wrappers-visible

	//Строка на 4 преподавателя
	div.row-flex.doctors-wrapper
		//Блок одного преподавателя
		div.col-3
			div.doctor-block.teacher-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Буяло Евгения Владимировна')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Буяло Евгения Владимировна
								//Кнопки
								div.button-wrapper.-dn-
									a.button.open-video(href='http://vimeo.com/9532951')
										div.button-block.video
											i.icon
							//Должности преподавателя
							ul.teacher-info.textblock
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
							//Скрытый блок практики
							ul.teacher-info.textblock.doctor-special-hidden-list.-dn-
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другая практика

		//Блок одного преподавателя
		div.col-3
			div.doctor-block.teacher-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Буяло Евгения Владимировна')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Буяло Евгения Владимировна
								//Кнопки
								div.button-wrapper.-dn-
									a.button.open-video(href='http://vimeo.com/9532951')
										div.button-block.video
											i.icon
							//Должности преподавателя
							ul.teacher-info.textblock
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства


		//Блок одного преподавателя
		div.col-3
			div.doctor-block.teacher-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Буяло Евгения Владимировна')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Буяло Евгения Владимировна
								//Кнопки
								div.button-wrapper.-dn-
									a.button.open-video(href='http://vimeo.com/9532951')
										div.button-block.video
											i.icon
							//Должности преподавателя
							ul.teacher-info.textblock
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
							//Скрытый блок практики
							ul.teacher-info.textblock.doctor-special-hidden-list.-dn-
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другая практика

		//Блок одного преподавателя
		div.col-3
			div.doctor-block.teacher-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Буяло Евгения Владимировна')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Буяло Евгения Владимировна
								//Кнопки
								div.button-wrapper.-dn-
									a.button.open-video(href='http://vimeo.com/9532951')
										div.button-block.video
											i.icon
							//Должности преподавателя
							ul.teacher-info.textblock
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
							//Скрытый блок практики
							ul.teacher-info.textblock.doctor-special-hidden-list.-dn-
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства
								li Ректор 
									a(href="#") Академии отцовства и материнства

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другая практика

//Кнопка "Показать ещё" - здесь вероятно надо подгружать новые блоки аяксом. Не забываем про функцию setDoctorSizes() - после каждой загрузки (doctors.js)!
div.clinic-tiles--hide-toggle.more-doctors
	a.-pseudo-.-link-wrap-(href='#')
		span.spoiler-toggle Другие преподаватели