
//Здесь как обычно - обёртка, показываем, что эти блоки показываем по загрузке
div.doctor-wrappers-visible

	//Строка на 4 победителя
	div.row-flex.doctors-wrapper
		//Блок одного победителя
		div.col-3
			div.doctor-block.winner-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Обидина Ольга Владимировна
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Номинация победителя
							div.winner-nomination-block
								div.winner-nomination Победитель
								div.textblock Победитель всероссийского конкурса стоматологов-хирургов среди заведующих
							//Номинация победителя
							div.winner-nomination-block
								div.winner-nomination Призёр
								div.textblock Серебряный призёр международного конкурса управляющих клиниками

		//Блок одного победителя
		div.col-3
			div.doctor-block.winner-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Обидина Ольга Владимировна
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Номинация победителя
							div.winner-nomination-block
								div.winner-nomination Победитель
								div.textblock Победитель всероссийского конкурса стоматологов-хирургов среди заведующих
							//Номинация победителя
							div.winner-nomination-block
								div.winner-nomination Призёр
								div.textblock Серебряный призёр международного конкурса управляющих клиниками

		//Блок одного победителя
		div.col-3
			div.doctor-block.winner-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Обидина Ольга Владимировна
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Номинация победителя
							div.winner-nomination-block
								div.winner-nomination Победитель
								div.textblock Победитель всероссийского конкурса стоматологов-хирургов среди заведующих


		//Блок одного победителя
		div.col-3
			div.doctor-block.winner-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Обидина Ольга Владимировна
								//Кнопки
								div.button-wrapper.-dn-
									a.button.open-video(href='http://vimeo.com/9532951')
										div.button-block.video
											i.icon
									a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
										div.button-block.book
											i.icon
											span.book-text Записаться
							//Номинация победителя
							div.winner-nomination-block
								div.winner-nomination Победитель
								div.textblock Победитель всероссийского конкурса стоматологов-хирургов среди заведующих
							//Номинация победителя
							div.winner-nomination-block
								div.winner-nomination Призёр
								div.textblock Серебряный призёр международного конкурса управляющих клиниками

							//Скрытые блоки
							div.doctor-special-hidden-list.-dn-
								//Номинация победителя
								div.winner-nomination-block
									div.winner-nomination Победитель
									div.textblock Победитель всероссийского конкурса стоматологов-хирургов среди заведующих
								//Номинация победителя
								div.winner-nomination-block
									div.winner-nomination Призёр
									div.textblock Серебряный призёр международного конкурса управляющих клиниками

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие награды и победы

//Кнопка "Показать ещё" - здесь вероятно надо подгружать новые блоки аяксом. Не забываем про функцию setDoctorSizes() - после каждой загрузки (doctors.js)!
div.clinic-tiles--hide-toggle.more-doctors
	a.-pseudo-.-link-wrap-(href='#')
		span.spoiler-toggle Другие победители