/* -------------------------------------------------
    Contacts feedback
   ------------------------------------------------- */

.contacts-feedback {
  margin-bottom: $sectionMargin;

  p {
    font-size: 16px;
    margin-bottom: 28px;
  }
}

.contacts-feedback--notes {
  margin-top: 44px;
}