footer.footer
	div.contents
		div.row-flex
			div.col-3
				ul.footer-nav
					li
						a(href='#') Вся правда о САДКО
					li
						a(href='#') Пациентам
					li
						a(href="#") Услуги и клиники
					li
						a(href='#') Технологии и инновации
			div.col-3
				ul.footer-nav
					li
						a(href='#') Образование и развитие
					li
						a(href='#') Врачи и команда
					li
						a(href='#') Цены и акции
					li
						a(href="#") Контакты
			div.col-2.footer-time
				div.-mb-xs-
					| 8<sup>00</sup> - 20<sup>00</sup> Пн.- Сб.
				div.-mb-xs-.-mb-
					| 9<sup>00</sup> - 18<sup>00</sup> Вс.
				div.-mb-xs-
					| Телефон:
					br
					| +7 (831) 421-01-01

			div.col-4
				div.-justify-content-
					div.lang-switch
						a.active(href='#') Ru
						a(href='#') Eng
					div
						a.btn.footer-to-sign.book-toggle(href='#' data-book-info="Карточка записи на приём" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться на прием
						div.clear
							button.footer-top

	div.footer-bottom
		div.contents
			a.footer-logo
				img(src='#{srcPath}img/logo.png')
			div.footer-copy
				p &copy; 2009 - 2015
				p Сеть медицинских клиник &laquo;САДКО&raquo; в Н.Новгороде
			div.footer-design
				| Дизайн сайта - <a href='#'>x design</a>
				br
				| Разработка и интеграция - <a href='#'>WebSharks</a>
