//Курсы - два блока
div.academy-courses
	div.course-column
		img.course-image(src="#{srcPath}img/content/course1.jpg", alt="")
	div.course-column.academy-course-block.-red-
		div.course-header Академия отцовства и материнства «Царство Любви». Курсы для беременных.
		div.about-course-block
			div.textblock
				div.block-header Каждую субботу в 13 <sup>00</sup>
				| Бесплатная консультация руководителя «Академии отцовства и материнства» Татьяны Петровны Головановой <a href="#">test</a>
			div.course-info
				div.address
					div.block-header Адрес
					div 
						| ул. Бекетова, 13 
						br 
						| Центр женского здоровья «Садко»
				div.phone
					div.block-header Телефон
					div
						| +7 (831) 412 07 77