div.row-flex.actions-wrapper
	div.col-4
		a(href="#")
			img(src='#{srcPath}img/content/action1.jpg')
	div.col-4.margin-image
		a(href="#")
			img(src='#{srcPath}img/content/action2.png')
	div.col-4
		a(href="#")
			img(src='#{srcPath}img/content/action3.jpg')