.row-flex
	.col-7
		p С 15 февраля 2015 г. в сети клиник «САДКО» действует новая бонусная программа. Начисление бонусов на бонусную карту за оказанные медицинские услуги производится при каждой оплате услуг, в зависимости от накоплений на карте. Соответствующий размер бонуса начисляется в процентном выражении. При следующем посещении вы сможете потратить данные бонусы на оплату услуг в любом из филиалов клиники «САДКО» (списывается не более 30% от квитанции ).
		+bonus-calc({
			l: 6,
			r: 4,
			start: '29 999',
			startPercent: '3'
		})(id='bonus-calc')
		p Размер скидки не может быть выше 30% от стоимости услуги. Остаток оплачивается наличными деньгами либо банковской картой. Бонусы могут быть использованы, начиная с «01» марта 2015 года при посещении Клиники.
		.row-flex.-separated-
			.col-6
				a(href="#").file-link.big-pdf-link.hover-link
					i.icon
					div.file-name
						span Положение о бонусных картах и скидках Группы компаний «САДКО»
	.col-5
		.wallet.right
			a.btn-white.card-toggle(href='#') Оформить свою карту
			.wallet--card