//Слайдер стран
div.countries-gallery
	div.gallery#countries-gallery
		//Один блок галереи
		div.gallery--item
			//Картинка галереи
			div.country-photo
				img.countries-gallery--img(src='#{srcPath}img/content/russia.jpg' width="1920" height="720")
			
			//Контент
			div.contents
				div.country-info
					//Флаг и название
					div.country-name-wrapper
						div.country-flag
							img(src='#{srcPath}img/content/russia-flag.jpg')
						div.country-name Россия
					//Подзаголовок
					div.subheader События
					//Список
					ul
						li Школа «Планирование и ведение беременности у больных с эндокринной патологией»
						li Школа «Ведение менопаузы у женщин с эндокринной патологией: теория и практика»
						li IX Семинар Европейского общества по контрацепции

					a(href="#").more-info все события

					//Скрытый блок
					div.full-list-wrapper.-dn-
						//Закрыть
						div.closed Закрыть 
						//Подзаголовок
						div.subheader События
						//Список
						div.full-list
							ul
								li Школа «Планирование и ведение беременности у больных с эндокринной патологией»
								li Школа «Ведение менопаузы у женщин с эндокринной патологией: теория и практика»
								li IX Семинар Европейского общества по контрацепции
								li Ультразвуковая диагностика заболеваний мягких тканей и суставов опорно-двигательного аппарата
								li VII Международный имплантологический симпозиум Мегастом
								li Съезд ревматологов
								li Всероссийский съезд ревматологов
								li XVI Российско-Японский симпозиум «Внутрипросветная эндоскопическая диагностика и хирургия»
								li IV Международный эндодонтический конгресс
								li Технологии аугментации. Специальные методики трансплантации и хирургии мягких тканей
								li XVII Конгресс Международного колледжа краниомандибулярной ортопедии
								li VIII Конгресс Всемирной федерации эстетической стоматологии IFED
								li Школа «Планирование и ведение беременности у больных с эндокринной патологией»
								li Школа «Ведение менопаузы у женщин с эндокринной патологией: теория и практика»
								li IX Семинар Европейского общества по контрацепции
								li Ультразвуковая диагностика заболеваний мягких тканей и суставов опорно-двигательного аппарата
								li VII Международный имплантологический симпозиум Мегастом
								li Съезд ревматологов
								li Всероссийский съезд ревматологов
								li XVI Российско-Японский симпозиум «Внутрипросветная эндоскопическая диагностика и хирургия»
								li IV Международный эндодонтический конгресс
								li Технологии аугментации. Специальные методики трансплантации и хирургии мягких тканей
								li XVII Конгресс Международного колледжа краниомандибулярной ортопедии
								li VIII Конгресс Всемирной федерации эстетической стоматологии IFED

					//Подзаголовок
					div.subheader Участники
					//Список
					ul
						li 
							a(href="#") Карпелянская Наталья Федоровна
						li 
							a(href="#") Агафонова Галина Владимировна
						li 
							a(href="#") Александров Александр Юрьевич
						li 
							a(href="#") Андронова Ирина Анатольевна
						li 
							a(href="#") Антипова Анна Владимировна
						li 
							a(href="#") Антонова Юлия Валерьевна

					a(href="#").more-info все участники

					//Скрытый блок
					div.full-list-wrapper.-dn-
						//Закрыть
						div.closed Закрыть
						//Подзаголовок
						div.subheader Участники
						//Список
						div.full-list
							ul
								li 
									a(href="#") Карпелянская Наталья Федоровна
								li 
									a(href="#") Агафонова Галина Владимировна
								li 
									a(href="#") Александров Александр Юрьевич
								li 
									a(href="#") Андронова Ирина Анатольевна
								li 
									a(href="#") Антипова Анна Владимировна
								li 
									a(href="#") Антонова Юлия Валерьевна
								li 
									a(href="#") Артемьева Светлана Владимировна
								li 
									a(href="#") Аскерова Гюлдане Кавказовна
								li 
									a(href="#") Астраханова Нина Васильевна
								li 
									a(href="#") Афанасьева Алла Валерьевна
								li 
									a(href="#") Афанасьева Елена Александровна
								li 
									a(href="#") Бабинцева Татьяна Никандровна
								li 
									a(href="#") Багдасарян Айкануш Ашотовна
								li 
									a(href="#") Багдасарян Роман Акопович
								li 
									a(href="#") Бакланов Максим Владимирович
								li 
									a(href="#") Барышева Галина Николаевна
								li 
									a(href="#") Бахметьев Олег Александрович
								li 
									a(href="#") Белоусова Екатерина Юрьевна
								li 
									a(href="#") Беляков Сергей Андреевич
								li 
									a(href="#") Бердникова Татьяна Александровна

		//Один блок галереи
		div.gallery--item
			//Картинка галереи
			div.country-photo
				img.countries-gallery--img(src='#{srcPath}img/content/swiss.jpg' width="1920" height="720")
			
			//Контент
			div.contents
				div.country-info
					//Флаг и название
					div.country-name-wrapper
						div.country-flag
							img(src='#{srcPath}img/content/swiss-flag.jpg')
						div.country-name Швейцария
					//Подзаголовок
					div.subheader События
					//Список
					ul
						li Мастера керамики: эстетика и функция несъемных реставраций
						li Эстетические реставрации. Новые техники изготовления виниров, круговых коронок. Дентальная фотография.
						li IV Конгресс Международного общества по изучению цвета в стоматологии

					//Подзаголовок
					div.subheader Участники
					//Список
					ul
						li 
							a(href="#") Афанасьева Елена Александровна
						li 
							a(href="#") Бабинцева Татьяна Никандровна
						li 
							a(href="#") Багдасарян Айкануш Ашотовна
						li 
							a(href="#") Багдасарян Роман Акопович
			
					


		
