.col-3
	a(href="#").banner-block
		img(src='#{srcPath}img/content/banner.jpg')
		div.banner-inner Консультация стоматолога
			br
			| со скидкой 25%
			span.btn-white.action-toggle(href="#" data-book-info="Консультация стоматолога со скидкой 25%" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
.col-3 
	a(href="#").banner-block.white-text 
		div.banner-inner.forth-gradient.smile-toggle(data-smile='#lazer') Скидка 15% на лазерное отбеливание зубов
			div.textblock-wrapper
				svg.smile-svg(width='42px', height='33px', version='1.1', xmlns='http://www.w3.org/2000/svg')
					path.smile-path(d='M0 10 Q 43 10 86 10', stroke='#fff', stroke-width='2px', fill='transparent', id="lazer")
				div.bottom-textblock.textblock В горящие часы и в будние дни. Полная информация о горящих часах содержится на странице «Цены и Акции»
				span.btn-white.action-toggle(href="#" data-book-info="Скидка 15% на лазерное отебливание зубов" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
.col-3
	a(href="#").banner-block
		img(src='#{srcPath}img/content/banner2.jpg')
		div.banner-inner Лечение кариеса у детей без боли
			span.btn-white.action-toggle(href="#" data-book-info="Лечение кариеса у детей без боли" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
.col-3
	a(href="#").banner-block
		img(src='#{srcPath}img/content/banner3.jpg')
		div.banner-inner Мужской стоматолог. Скидка 10%
			span.btn-white.action-toggle(href="#" data-book-info="Мужской стоматолог. Скидка 10%" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться