.doc-hello
	.doctor-block.doctor-manager
		img.doctor-photo(src='#{srcPath}img/content/director1.jpg', alt='')
		//Блок с описанием
		div.about-doctor-wrapper
			//Кнопки
			div.button-wrapper
				a.button.open-video(href='http://vimeo.com/9532951')
					div.button-block.video
						i.icon
			//О докторе
			div.about-doctor
				//Имя
				div.doctor-name
					span Харитонова Татьяна Викторовна
				//Должности руководителя
				ul.doctor-special-list
					li Директор службы развития клиентского сервиса
				a(href="#" data-modal-header="У вас есть вопрос?"  data-modal-subheader="Задайте свой вопрос" data-modal-text="Это здорово! Мы очень хотим развиваться и прислушиваемся к любым предложениям. Если идея окажется стоящей, приглашу вас на ужин за мой счет" data-modal-button="Задать вопрос" data-modal-answer="Мы приняли ваше мнение, и обязательно свяжемся в случае чего.").btn.manager-toggle Написать руководству

	.doc-hello--content.textblock.clear
		span.doc-hello--content--title Давайте знакомиться!
		p Я руковожу HR-отделом сети клиник «САДКО» и сама подбирала большую часть персонала. Люди — наша основная ценность, поэтому к набору сотрудников мы подходим крайне ответственно. Будьте готовы ответить на массу уточнящих вопросов и пройти как минимум три собеседования (со мной, с глав-врачом, с управляющим филиалом). Это утомляет, но именно такая система зарекомендовала себя в найме лучших специлистов в своей отрасли. В случае успешного прохождения конторльных точек будем рады принять вас в наш дружный коллектив. 
		p Прежде чем отправлять резюме, убедитесь что вы не забыли указать должность на которую претендуете, а также напишите пожалуйста небольшой рассказ о себе в свободной форме. Так, у нас будет возможность заочно познакомиться