.row-flex.oms-section
	.col-7
		p Выбирая клинику «САДКО» в рамках ДМС или ОМС программ, Вы пользуетесь абсолютно теми же услугами (в рамках перечня услуг по программам), с тем же качеством и сервисом, которые получают наши пациенты, оплачивая процедуры самостоятельно. В Вашем распоряжении те же лучшие доктора региона и инновационные медицинские технологии последнего поколения!
	.col-5
		.text-panel.-no-m-.oms-dms
			.text-panel--section
				p
					strong ОМС &mdash;&nbsp;
					| Обязятельное Медицинское Страхование
				p
					strong ДМС &mdash;&nbsp;
					| Добровольное Медицинское Страхование
			p.-fz-14- Мы сами постоянно путаемся в расшифровке этих аббревиатур, напишем их здесь, чтобы не забыть
.row-flex.-mb-section-.oms-services
	.col-5
		div.header-inline
			span.header-inline--title ОМС
			a.horizontal-link.btn(href='#') Перечень услуг
		div.textblock С 1 января 2015 года Заречный филиал ООО <a href='#'>«Центр развития стоматологии «Садко»</a> оказывает медицинскую помощь в рамках Территориальной программы обязательного медицинского страхования.
		a.-link-wrap-(href='#')
			span Подробнее&nbsp;
			| &rarr;
	.col-5
		div.header-inline
			span.header-inline--title ДМС
			a.horizontal-link.btn(href='#') Список страховых
		div.textblock Клиника «САДКО» является надежным партнером по программам добровольного медицинского страхования начиная с 1998 года.  На настоящий момент ведется сотрудничество с 44 страховыми компаниями.
		a.-link-wrap-(href='#')
			span Подробнее&nbsp;
			| &rarr;