//Навигация
nav.nav-main
	//Стандартный пункт меню - просто ссылка
	div.nav-main--item.normal
		a(href='#') 
			span Вся правда о САДКО
	//Пункт меню с маленьким всплывающим блоком
	div.nav-main--item.-has-inner-.-has-inner-small
		a(href='#') 
			span Пациентам
		include ../modules/main-navigation-inner-item-patients
	//Пунтк меню со стандартным всплывающим блоком на всю ширину
	div.nav-main--item.-has-inner-
		span
			span Услуги и клиники
		include ../modules/main-navigation-inner-item
	//Пунтк меню со стандартным всплывающим блоком на всю ширину
	div.nav-main--item.-has-inner-
		a(href='#') 
			span Технологи и инновации
		include ../modules/main-navigation-inner-item-small
	//Стандартный пункт меню
	div.nav-main--item.normal
		a(href='#') 
			span Образование и развитие
	div.nav-main--item.normal
		a(href='#') 
			span Врачи и команда
	div.nav-main--item.normal
		a(href='#') 
			span Цены и акции
	div.nav-main--item.normal
		a(href='#') 
			span Контакты
