//Мини-блок меню. Здесь только две колонки со списком заголовков
div.nav-main--inner.-inner-small
	div.custom-scroll-wrap(data-lock-window-scroll='true')
		div.row-flex.nav-main--inner--content
			div.col-9
				div.nav-main--inner-title
					a(href='#') Комплексные программы
				div.nav-main--inner-title
					a(href='#') Отзывы
				div.nav-main--inner-title
					a(href='#') Вопрос-Ответ
				div.nav-main--inner-title
					a(href='#') Наше видео
				div.nav-main--inner-title
					a(href='#') Полезные статьи

			div.col-3
				div.nav-main--inner-title
					a(href='#') ОМС
				div.nav-main--inner-title
					a(href='#') ДМС


