//Стандартный всплывающий блок меню - состоит из колонок и списков со ссылками
div.nav-main--inner
	div.custom-scroll-wrap(data-lock-window-scroll='true')
		div.row-flex.nav-main--inner--content
			div.col-3
				//Подзаголовок
				div.nav-main--inner-title
					a(href='#') Лечебно-диагностический центр
				//Список
				div.row-flex
					div.col-6
						ul.nav-main--inner-group
							li
								a(href='#') Терапия
							li
								a(href='#') Пульманология
							li
								a(href='#') Гематология
						ul.nav-main--inner-group
							li
								a(href='#') Дерматология
							li
								a(href='#') Аллергология
						ul.nav-main--inner-group
							li
								a(href='#') Отоларинология
							li
								a(href='#') Гирудотерапия
							li
								a(href='#') Венерология
							li
								a(href='#') Наркология
						ul.nav-main--inner-group
							li
								a(href='#') Неврология
							li
								a(href='#') Эндокринология
						ul.nav-main--inner-group
							li
								a(href='#') Иглорефлексотерапия
							li
								a(href='#') Физиотерапия

					div.col-6
						ul.nav-main--inner-group
							li
								a(href='#') Проктология
							li
								a(href='#') Урология
							li
								a(href='#') Детская урология
						ul.nav-main--inner-group
							li
								a(href='#') Гастроэнтерология
						ul.nav-main--inner-group
							li
								a(href='#') Кардиология
							li
								a(href='#') Хирургия
						ul.nav-main--inner-group
							li
								a(href='#') Рентген
							li
								a(href='#') Профилактические исследования

				div.nav-main--inner-title
					a(href='#') Лечебно-диагностический центр
				div.row-flex
					div.col-6
						ul.nav-main--inner-group
							li
								a(href='#') Лечение склероза
							li
								a(href='#') Лечение депрессии
							li
								a(href='#') Ревматолог
							li
								a(href='#') Лечение межпозвоночных грыж
					div.col-6
						ul.nav-main--inner-group
							li
								a(href='#') Диагностика
							li
								a(href='#') Магнитотерапия
							li
								a(href='#') Осциллционный массаж
							li
								a(href='#') Вытяжение позвоночника
			div.col-3
				div.nav-main--inner-title
					a(href='#') Стоматология
					span.nav-main--inner-title--note
						a(href='#') Семь клиник
				ul.nav-main--inner-group
					li
						a(href='#') Лечение кариеса
					li
						a(href='#') Лечение пульпита
				ul.nav-main--inner-group
					li
						a(href='#') Профессиональная гигиена
					li
						a(href='#') Ортодонтия
				ul.nav-main--inner-group
					li
						a(href='#') Виниры и люминиры
					li
						a(href='#') Имплантация
					li
						a(href='#') Парадонтология
				ul.nav-main--inner-group
					li
						a(href='#') Компьютерная томография
					li
						a(href='#') Нейромышечная стоматология
					li
						a(href='#') Отбеливание зубов
				ul.nav-main--inner-group
					li
						a(href='#') Цифровой дизацн улыбки
					li
						a(href='#') Лечение под микроскопом
					li
						a(href='#') Диагностика
				div.nav-main--inner-title
					a(href='#') Центр ортодонтии &laquo;Джем&raquo;
				div.nav-main--inner-title
					a(href='#') Центр имплантации
				div.nav-main--inner-title
					a(href='#') Центр мужского здоровья
			div.col-3
				div.nav-main--inner-title
					a(href='#') Детская стоматология &laquo;Динозубрик&raquo;
				div.nav-main--inner-title
					a(href='#') Центр женского здоровья
					span.nav-main--inner-title--note
						a(href='#') Четыре центра
				ul.nav-main--inner-group
					li
						a(href='#') Лечение бесплодия
					li
						a(href='#') Онколог-маммолог
					li
						a(href='#') Лечение кист яичников
				ul.nav-main--inner-group
					li
						a(href='#') Планирование беременности
					li
						a(href='#') Курсы для беременных
					li
						a(href='#') Ведение беременности - шаг за шагом
				ul.nav-main--inner-group
					li
						a(href='#') Лечение патологии шейки матки
					li
						a(href='#') Прерывание беременности
				ul.nav-main--inner-group
					li
						a(href='#') Цифровая гистеровидеоскопия
					li
						a(href='#') УЗИ
				ul.nav-main--inner-group
					li
						a(href='#') Гинекология
				div.nav-main--inner-title
					a(href='#') &laquoЗдоровенок&raquo; - детская клиника и стоматология
			div.col-3
				div.nav-main--inner-title
					a(href='#') Центр маммологии
				ul.nav-main--inner-group
					li
						a(href='#') 3D маммография
					li
						a(href='#') УЗИ молочной железы
					li
						a(href='#') Пункция молочной железы
				ul.nav-main--inner-group
					li
						a(href='#') Анализ крови на анкомаркеры
					li
						a(href='#') Аппаратная биопсия
				div.nav-main--inner-title
					a(href='#') Диагностическая лаборатория
				ul.nav-main--inner-group
					li
						a(href='#') Бактериологическая лаборатория
					li
						a(href='#') Иммунологическая лаборатория
					li
						a(href='#') Молекулярно-обиологическая лаборатория (ПЦР)
					li
						a(href='#') Общеклиннические и биохимические исследования
				div.nav-main--inner-title
					a(href='#') Зуботехническая лаборатория
				ul.nav-main--inner-group
					li
						a(href='#') Съемные зубные протезы
					li
						a(href='#') Бюгельные зубные протезы
					li
						a(href='#') Безметалловая керамика
					li
						a(href='#') Металлокерамика


