div.news-column
	//Новости клиники
	h3 Новости клиники

	//Блок новости
	div.company-news-block
		//Дата
		div.news-date 17 октября 2015 года
		//Картинка новости
		img(src='#{srcPath}img/content/news.jpg' alt="").news-img
		
		//Название + ссылка
		a(href="#").news-header.hover-link Открытие лаборатории «САДКО» на ул.Белинского
		//Краткая аннотация
		div.textblock Полный комплекс анализов любого профиля теперь в новой лаборатории «САДКО» на 
			a(href="#") ул. Белинского, 71/1 
			br
			i В честь открытия скидка — 25%
		//Теги
			div.tags-wrapper
				a(href="#") обучение, 
				a(href="#") Макларен

	//Блок новости
	div.company-news-block
		//Дата
		div.news-date 15 октября 2015 года
		//Название + ссылка
		a(href="#").news-header.hover-link «Зеленая» томография на ул. Новая
		//Краткая аннотация
		div.textblock Цифровые дентальные томографы являются уникальным диагностическими инструментами нового поколения с огромным потенциалом использования в разных областях медицины.
		//Теги
			div.tags-wrapper
				a(href="#") обучение, 
				a(href="#") Макларен

	//Блок новости
	div.company-news-block
		//Дата
		div.news-date 3 октября 2015 года
		//Картинка новости
		img(src='#{srcPath}img/content/news.jpg' alt="").news-img
		//Название + ссылка
		a(href="#").news-header.hover-link Итоги комплексного эстетического курса Эдварда Макларена в Нижнем Новгороде
		//Краткая аннотация
		div.textblock 26-28 июня 2015 г. состоялось уникальное событие для нижегородской стоматологии — первый в истории частный визит мирового эксперта эстетической стоматологии Эдварда Макларена. 
		//Теги
			div.tags-wrapper
				a(href="#") обучение, 
				a(href="#") Макларен

	//Ссылка на новости
	div
		a.more-link.-link-wrap-(href='#') <span>Все новости</span>