div.patient-gallery
	div.gallery#patient-gallery
		div.gallery--item
			img(src='#{srcPath}img/patient-gallery/1.jpg' alt="")
		div.gallery--item
			img(src='#{srcPath}img/patient-gallery/2.jpg' alt="")

	div.patient-gallery--btn
		button.btn-white.btn-white-hover.btn-scale-active#patient-gallery-btn А Вы наш пациент?
	a.patient-gallery--resp-link.-link-white-(href='#') Почитать отзывы