.row-flex.promo-video
	.col-6
		iframe(src='https://player.vimeo.com/video/130200007', width='100%', height='423', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
	.col-6.promo-video--content
		h3 Физиотерапия
		p Здоровье без лекарств — мечта практически каждого современного человека. А если это достигается с помощью комплекса приятных, расслабляющих процедур- вообще сказка. Эта сказка сегодня - реальность. В Многопрофильной клинике "Садко" на ул. Родионова разработаны специализированные программы для восстановления и поддержания здоровья каждой женщины.

		.promo-video--content--bottom
			a.-link-wrap-(href='#') <span>Все видеоролики САДКО</span>
			span.promo-video--channel <a href='#' class='-no-b-'><img src='#{srcPath}img/vimeo-logo.png' /></a> &mdash; наш канал на Vimeo


