include ../mixins/q

div.qa-wrapper
	.row-flex
		.col-9.qa-block
			.row-flex
				.col-4
					+q('21 октября 2015 г., Анна, 25 лет', 'Анализы', 'Здравствуйте! подскажите, что мне надо сдать, чтобы выявить скрытые инфекции на подобии кишечной палочки, стафилаккоки и т.д. и когда лучше сдать, так как последнюю свечу я вставляла 15 августа. И сколько стоит ВПЧ по женской части.', 'А.В. Исламова', 'Чтобы выявить скрытые инфекции, рекомендуем Вам сдать анализ «Исследование биоциноза влагалища с определением чувствительности к антибиотикам» ... ')
				.col-4
					+q('21 октября 2015 г., Ирина, 27 лет', 'Болит бок', 'Начал болеть левый бок (прямо за ребрами). Болит не понятно что — толи сердце, толи легкое, толи нерв какой то защемился? Пожалуйста, подскажите, к какому врачу правильно обратиться? ', 'К.К. Константинопольский', 'Судя потому, как Вы описали жалобы, предполагаю, что у Вас межреберная невралгия (защемление межреберного нерва) ...')
				.col-4
					+q('21 октября 2015 г., Елена, 26 лет', 'Боли у мужа', 'Моего мужа мучают непрекращающиеся боли в животе уже на протяжении 8 лет . В основном, около пупка. Пытались лечиться и в поликлинике по месту жительства и в платных филиалах. Ничего не помогает. Никто не может определить причину.', 'С.С. Светланова', 'Хирургическая патология за 8 лет существования недомогания проявила бы себя каким-либо образом ...')

			//Все вопросы
			a.more-link.-link-wrap-(href='#') <span>Все вопросы и ответы</span>

		.col-3
			form.text-panel.qa-form
				span.text-panel--title Спросить
				.text-panel--section
					//Это не пустой блок - сюда выводится текст ошибки
					div.error-text
					.qa-form--row
						label Ваше имя
						input(type='text').-border-input-.required-field
					.qa-form--row
						label Возраст
						input(type='text').-border-input-.required-field
					.qa-form--row
						label E-mail
						input(type='text').-border-input-.email-field
				.text-panel--section
					p
						strong Ваш вопрос
					textarea.autosize.question-text
				label.form--accept-checkbox.text-panel--section
					input(type='checkbox').check-radio
					span Я принимаю <a href='#' class='-link-turq-'>условия</a> обработки моих данных
				p.-text-center-
					a.btn.qa-form--submit.submit-btn Задать вопрос доктору
			div.text-panel.answer-form.-text-center-
				span.text-panel--title Спасибо за вопрос
				p Все вопросы мы передаём специалистам. В течение 24 часов у врачей обычно находится время, чтобы ответить. Если ваш вопрос не терпит отлагательств - пожалуйста, позвоните!