//Результаты доктора
div.doctor-special-full-block.clear
	//Картинка
	div.image-wrapper
		img(src="#{srcPath}img/doctor-photos/doctor-result.jpg" alt="")

	//Текстовое
	div.textblock
		h3 Что было
		p повышенная стираемость зубов, структурные изменения их формы и цвета, нарушение пропорций
		h3 Проделанная работа
		p гингивотомия, коррекция объема десны, изготовление виниров по технологии E-MAX на базе Дентальной лаборатории "САДКО", реставрация передней группы зубов с помощью ультратонких керамических виниров