div.row-flex.masonry-container.doctor-reviews
	div.col-4
		div.doctor-review-block.textblock
			p Огромное спасибо Ершову Александру Сергеевичу за высокий профессионализм, чуткое и внимательное отношение к пациентам, наглядное и понятное объяснение результатов диагностики, сумевшему вернуть радость жизни, омраченную в двух других клиниках (в одной из которых не знают где право, где лево, а в другой посмотрев снимки, но ориентируясь на описание на ощупь (и это в 21 веке!) взяли биопсию,и не найдя в ней никаких отклонений, давили на психику, что онкология меня обязательно настигнет, если я не буду пить их БАДы).
			p Я рада, что на собственном опыте убедилась в том, что Садко действительно клиника, оснащенная современным оборудованием, на котором работают Профессионалы!
			p Отдельное спасибо и специалисту кабинета маммографии!
		div.name 23 ноября 2015 г., Елена 35 лет
	div.col-4
		div.doctor-review-block.textblock
			|Большую часть лета 2015 занимаюсь ЛФК в Центре неврологии и реабилитации. Конечно, все специалисты, которые работали со мной оставили только положительные впечатления, но особенно мне приятно посещать занятия ЛФК у Коробейникова Владимира Сергеевича. С ним сложилась отличная рабочая атмосфера!По возможности стараюсь каждую неделю записываться к Владимиру Сергеевичу на тренировку. Спасибо ему огромное от меня и моей спины.
		div.name 21 февраля 2003 г., Ирина 42 года
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет
	div.col-4
		div.doctor-review-block.textblock
			p Хочу сказать большое спасибо врачу гастроэнтерологу - Бунаковой Нине Николаевне. Это чудесный доктор, которая лечит не только делом, но и словом!!! Попала на прием не просто в остром состоянии по гастроэнтерологии, но и сильном нервном напряжении и испуге. Такое впечатление, что доктор взяла под крылышко...и появилась уверенность, что все будет хорошо!!!
			p Также спасибо врачу УЗИ-диагностики Стуленковой Наталье Владимировне, тоже очень приятный доктор, доступно и подробно прокоментировала результаты диагностики. Спасибо Вам за доброе отношение к мнительным пациентам)))
		div.name 30 мая 2014г., Анастасия 28 лет
