

//Отзывы
div.doctor-reviews.owl-slider
	//Блок отзыва
	div.doctor-review-wrapper
		div.name 23 ноября 2015 г., Елена 35 лет
		div.review-header Благодарность
		div.doctor-review-block
			div.textblock.review-text
				p Огромное спасибо Ершову Александру Сергеевичу за высокий профессионализм, чуткое и внимательное отношение к пациентам, наглядное и понятное объяснение результатов диагностики, сумевшему вернуть радость жизни, омраченную в двух других клиниках (в одной из которых не знают где право, где лево, а в другой посмотрев снимки, но ориентируясь на описание на ощупь (и это в 21 веке!) взяли биопсию,и не найдя в ней никаких отклонений, давили на психику, что онкология меня обязательно настигнет, если я не буду пить их БАДы).
				p Я рада, что на собственном опыте убедилась в том, что Садко действительно клиника, оснащенная современным оборудованием, на котором работают Профессионалы!
				p Отдельное спасибо и специалисту кабинета маммографии!
			div.answer-block
				div.doctor-name Отвечает 
					a.blue-link(href="#") C.И. Распалова
				div.textblock Юлия, спасибо большое, что Вы написали нам!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempore ipsam quisquam modi, in ratione vitae velit laborum, ullam architecto omnis aperiam. Debitis in itaque repudiandae, autem veniam adipisci vero.
				a.more-info.blue-link(href="#") Читать полностью
	//Блок отзыва
	div.doctor-review-wrapper
		div.name 23 ноября 2015 г., Елена 35 лет
		div.review-header Лечебная физкультура
		div.doctor-review-block
			div.textblock.review-text
				p Огромное спасибо Ершову Александру Сергеевичу за высокий профессионализм, чуткое и внимательное отношение к пациентам, наглядное и понятное объяснение результатов диагностики, сумевшему вернуть радость жизни, омраченную в двух других клиниках (в одной из которых не знают где право, где лево, а в другой посмотрев снимки, но ориентируясь на описание на ощупь (и это в 21 веке!) взяли биопсию,и не найдя в ней никаких отклонений, давили на психику, что онкология меня обязательно настигнет, если я не буду пить их БАДы).
			div.answer-block
				div.doctor-name Отвечает 
					a.blue-link(href="#") C.И. Распалова
				div.textblock Юлия, спасибо большое, что Вы написали нам!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempore ipsam quisquam modi, in ratione vitae velit laborum, ullam architecto omnis aperiam. Debitis in itaque repudiandae, autem veniam adipisci vero.
				a.more-info.blue-link(href="#") Читать полностью
	//Блок отзыва
	div.doctor-review-wrapper
		div.name 23 ноября 2015 г., Елена 35 лет
		div.review-header Удаление капюшона над зубом мудрости
		div.doctor-review-block
			div.textblock.review-text
				p Я рада, что на собственном опыте убедилась в том, что Садко действительно клиника, оснащенная современным оборудованием, на котором работают Профессионалы!
				p Отдельное спасибо и специалисту кабинета маммографии!
			div.answer-block
				div.doctor-name Отвечает 
					a.blue-link(href="#") C.И. Распалова
				div.textblock Юлия, спасибо большое, что Вы написали нам!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempore ipsam quisquam modi, in ratione vitae velit laborum, ullam architecto omnis aperiam. Debitis in itaque repudiandae, autem veniam adipisci vero.
				a.more-info.blue-link(href="#") Читать полностью
	//Блок отзыва
	div.doctor-review-wrapper
		div.name 23 ноября 2015 г., Елена 35 лет
		div.review-header Удаление капюшона над зубом мудрости
		div.doctor-review-block
			div.textblock.review-text
				p Я рада, что на собственном опыте убедилась в том, что Садко действительно клиника, оснащенная современным оборудованием, на котором работают Профессионалы!
				p Отдельное спасибо и специалисту кабинета маммографии!
			div.answer-block
				div.doctor-name Отвечает 
					a.blue-link(href="#") C.И. Распалова
				div.textblock Юлия, спасибо большое, что Вы написали нам!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis tempore ipsam quisquam modi, in ratione vitae velit laborum, ullam architecto omnis aperiam. Debitis in itaque repudiandae, autem veniam adipisci vero.
				a.more-info.blue-link(href="#") Читать полностью

//Все отзывы
a.more-link.-link-wrap-.more-doctor-reviews(href='#') <span>Все отзывы</span>
