//Список услуг
//Отделения

div.clinic-service-section
	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Гинекологическое отделение
		//Список
		ul
			li
				a(href="#") Консультация гинеколога
			li
				a(href="#") УЗГД диагностика на аппарате Volusson 4D Hdlife
			li
				a(href="#") Подготовка к беременности
			li
				a(href="#") Ведение беременности
			li
				a(href="#") Лечение бесплодия
			li
				a(href="#") Лабораторные исследования
			li
				a(href="#") Подростковая гинекология
			li
				a(href="#") Поготовка к ЭКО, ЭКСИ
			li
				a(href="#") Лечение цистита
			li
				a(href="#") Лечение аминореи
			li
				a(href="#") Подбор контрацепции
			li
				a(href="#") Лечение гормональных нарушений
			li
				a(href="#") Личение кист яичников
			li
				a(href="#") Лечение патологий шейки матки
			li
				a(href="#") Кольпоскопия
			li
				a(href="#") Лечение ЗППП
			li
				a(href="#") Лечение симптомов климатерического синдрома
			li
				a(href="#") Лечение других гинекологических заболеваний

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Маммологическое отделение
		//Список
		ul
			li
				a(href="#") Консультация маммолога
			li
				a(href="#") УЗГД Диагностика молочных желез
			li
				a(href="#") Маммография с томосинтезом
			li
				a(href="#") Стереотоксический биопсийный забор
			li
				a(href="#") Безметаловая керамика и металлокерамика
			li
				a(href="#") Лечение мастопатии
			li
				a(href="#") Лечение и диагностика маммологических заболевний

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Оперативная гинекология
		//Список
		ul
			li
				a(href="#") Гистерорезектоскопия
			li
				a(href="#") Хирургические выскабливания
			li
				a(href="#") Прерывание нежелательной беременности
			li
				a(href="#") Классические брекеты
			li
				a(href="#") Прицельная биопсия
			li
				a(href="#") Радиоволновая хирургия 

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Эндокринологическое отделение
		//Список
		ul
			li
				a(href="#") Консультация эндокринолога
			li
				a(href="#") Лабораторные исследования
			li
				a(href="#") УЗГД диагностика щитовидной железы
			li
				a(href="#") Лечение диабета
			li
				a(href="#") Лечение гипер/гипофункции щитовидной железы
			li
				a(href="#") Лечение избыточного веса
			li
				a(href="#") Лечение и диагностика других эндокринологических заболеваний

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Неврологическое отделение
		//Список
		ul
			li
				a(href="#") Консультация невролога
			li
				a(href="#") Лабораторные исследования
			li
				a(href="#") УЗГД сосудов головного мозга
			li
				a(href="#") Подводное вытяжение позвоночника
			li
				a(href="#") Лечение головных болей
			li
				a(href="#") Лечение боли в спине
			li
				a(href="#") Лечение бессонницы, депрессии
			li
				a(href="#") Лечение хронической усталости
			li
				a(href="#") Лечение межпозвоночных грыж
			li
				a(href="#") Лечение других заболеваний нервной системы

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Офтальмологическое отделение
		//Список
		ul
			li
				a(href="#") Консультация офтальмолога
			li
				a(href="#") Диагностика

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Гастроэнтерологическое отделение
		//Список
		ul
			li
				a(href="#") Консультация гастроэнтеролога
			li
				a(href="#") ФГДС с pH-метрией под седацией
			li
				a(href="#") Колоноскопия под седацией
			li
				a(href="#") Лабораторные исследования
			li
				a(href="#") Лечение заболеваний пищеварительной системы

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Эстетическая стоматология
		//Список
		ul
			li
				a(href="#") Виниры и люминиры
			li
				a(href="#") Керамические вкладки
			li
				a(href="#") Ремотерапия
			li
				a(href="#") Лазерное отбеливание зубов
			li
				a(href="#") Отбеливание зубов системой ZOOM-3
			li
				a(href="#") Отбеливание системой Beyond
	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Отоларигология, ЛОР
		//Список
		ul
			li
				a(href="#") Консультация 
			li
				a(href="#") Лабораторные исследования
			li
				a(href="#") ЛОР-комбайн
			li
				a(href="#") Лечение гайморита
			li
				a(href="#") Лечение других оторинологических заболеваний

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Кардиология
		//Список
		ul
			li
				a(href="#") Консультация кардиолога
			li
				a(href="#") Лабораторные исследования
			li
				a(href="#") ЭХО УЗИ сердца
			li
				a(href="#") Суточное АД- мониторирование
			li
				a(href="#") ЭКГ сердца
			li
				a(href="#") Лечение сердечно-сосудистых заболеваний

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Физиотерапевтическое отделение
		//Список
		ul
			li
				a(href="#") Гирудотерапия
			li
				a(href="#") Подводное вытяжение позвоночника
			li
				a(href="#") Углекислые ванны
			li
				a(href="#") Лечебная физкультура
			li
				a(href="#") Прессотерапия
			li
				a(href="#") Массаж
			li
				a(href="#") Осцилляцинный массаж
			li
				a(href="#") Магнитотерапия
			li
				a(href="#") Иглорефлексотреапия

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Диагностическая программа
		//Список
		ul
			li
				a(href="#") Программы обследования
			li
				a(href="#") Школа лечения ожирения
			li
				a(href="#") Школа борьбы с сахарным диабетом

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Урологическое отделение
		//Список
		ul
			li
				a(href="#") Консультация уролога
			li
				a(href="#") Лабораторные исследования
			li
				a(href="#") УЗГД диагностика
			li
				a(href="#") Урофлометрия
			li
				a(href="#") Лечение простатита
			li
				a(href="#") Лечение цистита
			li
				a(href="#") Цистоскопия
			li
				a(href="#") Лечение мужского бесплодия

	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Терапевтическое отделение
		//Список
		ul
			li
				a(href="#") Консультация терапевта
			li
				a(href="#") Лабораторная диагностика
			li
				a(href="#") Аппаратная диагностика
			li
				a(href="#") Справки и больничные листы
	
	//Блок услуг
	div.service-block
		//Заголовок
		div.service-header Другие направления
		//Список
		ul
			li
				a(href="#") Диетология
			li
				a(href="#") Нефрология
			li
				a(href="#") Пульмонология
			li
				a(href="#") Дермато-венерология
			li
				a(href="#") Леченбная физкультура
			li
				a(href="#") Гематология
			li
				a(href="#") Аллергология и иммунология
			li
				a(href="#") Рентгендиагностика
			li
				a(href="#") Наркология
			li
				a(href="#") Проктология
			li
				a(href="#") Травмоталогия и ортопедия
			li
				a(href="#") Хирургия
			li
				a(href="#") Психология
			li
				a(href="#") Вакцианальный центр
