//Слайдер наград
div#companySuccessSlider.company-success.row-flex
	div.col-4
		//Блок награды
		div.company-success-block
			//Картинка
			div.image-wrapper
				img(src='#{srcPath}img/content/lider.jpg' alt="")
			//Ссылка - название премии
			a(href="#").name.hover-link Лидер года
			//Описание
			div.textblock Победитель в номинации «Стоматология», 2005, 2010, 2012 гг
				br
				a(href="#") www.sadkomed.ru/news/1857
				br
				a(href="#") www.r52.ru/news/11041
				br
				a(href="#") http://lidergoda.ru/about/news/nbd-bank- nagradil-liderov-malogo-i-srednego-biznesa/
	div.col-4
		//Блок награды
		div.company-success-block
			//Картинка
			div.image-wrapper
				img(src='#{srcPath}img/content/dk.jpg' alt="")
			//Ссылка - название премии
			a(href="#").name.hover-link Деловой квартал
			//Описание
			div.textblock Первое место в рейтинге частных клиник, 2010 г.
				br
				a(href="#") http://sadkomed.ru/news/943
	div.col-4
		//Блок награды
		div.company-success-block
			//Картинка
			div.image-wrapper
				img(src='#{srcPath}img/content/starsmile.jpg' alt="")
			//Ссылка - название премии
			a(href="#").name.hover-link Рейтинг детских стоматологических клиник России за 2015
			//Описание
			div.textblock Детская стоматология «Динозубрик», второе место
				br
				a(href="#") www.rating.startsmile.ru/results_child_rating/
	div.col-4
		//Блок награды
		div.company-success-block
			//Картинка
			div.image-wrapper
				img(src='#{srcPath}img/content/dk.jpg' alt="")
			//Ссылка - название премии
			a(href="#").name.hover-link Деловой квартал
			//Описание
			div.textblock Первое место в рейтинге частных клиник, 2010 г.
				br
				a(href="#") http://sadkomed.ru/news/943