//Блок с видео
div.row-flex.video-block
	div.col-6
		<iframe src="https://player.vimeo.com/video/9532951?color=ffffff&title=0&byline=0&portrait=0&badge=0" width="500" height="374" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	div.col-6
		h3.video-block-header Ведение беременности
		div.textblock
			p Почему так часто меняется настроение? Какой из способов ведения родов выбрать?  Как мыть новорожденного? Когда можно учить своего кроху и с чего начать? Как защитить себя и будущего малыша от инфекции, например, от гепатита? – У будущей молодой мамы столько вопросов!
			p Ответить на большинство из них могут преподаватели Академии отцовства и материнства «Царство любви» (Курсы для беременных) Центра женского здоровья «САДКО». Исчерпывающую информацию по любой теме можно получить у специалиста в области гинекологии, психологии, лечебной физкультуры или православной теологии. 
		button.btn.book-toggle Записаться