extends ../layout-inner
include ../mixins/quot


block title
	| Терапия. Лечение зубов
block content
	//include ../modules/clinic-tiles


	//Страница внутренняя
	div.contents.inner-page

		div.relative
			h1 Лечение кариеса молочных зубов
			a.back-link.blue-link.hover-link(href="#") Все статьи

		//Цитата
		div.quot.row-flex.-quot-no-border-
			div.col-10
				div.quot--text По наблюдению детских стоматологов клиники «Динозубрик» наличие кариеса родители не замечают до определенного времени: разрушение зуба не беспокоит ребенка...

		div.row-flex.inner-about
			//Текстовый блок
			div.col-9.textblock

				h2  Пока не грянет гром...
				
				//Тут две колонки
				.row-flex
					.col-6
						figure
							img(src='#{srcPath}img/content/text1.jpg')
							figcaption 
								i Поясняющий текст к картинке (не обязательно)
					.col-6
						p Всегда наступает момент, когда зубная боль становится сильной и даже невыносимой. Лишь тогда обычно обращаются в клинику.
						p Кариес – это заболевание твердых тканей зуба, вызванное действием микроорганизмов. Развивается кариес молочных зубов незаметно, но гораздо быстрее, чем у постоянных. Связано это с особенностями строения молочных зубов, а также перенесенными ранее заболеваниями и лечением антибиотиками.

				h3 Кариес приводит к анатомическим, функциональным и эстетическим дефектам:

				ul
					li Появление грязно-серых пятен на зубах;
					li Реакция ребенка на холодное, горячее, сладкое, кислое;
					li Возможность визуально рассмотреть кариозные полости;
					li Отказ ребенка принимать пищу.

				h3 По данным Всемирной Организации Здравоохранения распространенность кариеса зубов в России в расчете на 100 человек
				
				table
					caption в зависимости от возраста ребёнка
					tr
						td до 6 лет
						td 22 человека
					tr
						td от 6 до 12 лет
						td 78 человек
					tr
						td до 12 до 15 лет
						td 88 человек


				h3 Обследование, проведённое стоматологами в крупных городах России, показало: 

				ul
					li 94 % детей не умеют правильно чистить зубы.
					li У 6-тилетних детей в 50% случаев на смену молочным зубам идут постоянные зубы, уже пораженные кариесом.
					li Практически у всех 15-тилетних подростков отмечаются признаки заболевания десен – гингивита и пародонтита – кровоточивость и наличие зубного камня.

				h3 Основные задачи терапевтического отделения детской стоматологии «Динозубрик»

				ul
					li Обучение правилам чистки зубов.
					li Ранняя профилактика заболевания молочных и постоянных зубов.
					li Формирование позитивного отношения к стоматологическому приему.
					li Развитие любви к красивой улыбки.
					li Лечение зубов любой сложности с максимальным сохранением собственных зубов ребенка.
					li Оказание неотложной помощи в острых ситуациях.

				//Тут две колонки
				.row-flex
					.col-8
						figure
							img(src='#{srcPath}img/content/text2.jpg')
					.col-4
						div.figcaption
							b Детская стоматология «Динозубрик»
							br
							| Врач Колыванова Мария Сергеевна проводит плановый осмотр Сережи, 6 лет


				p Оснащенность современных кабинетов клиники «Динозубрик», а также опыт и знания детских врачей позволяют быстро и эффективно поставить диагноз и начать лечение зубов в день обращения пациента. С успехом используются как классические методы лечения и профилактики детских зубов, так и современные методы, которые прежде всего позволяют ребенку оставаться спокойным и уравновешенным в кабинете стоматолога. Одним из таких современных и эффективных методов является лекарственный сон (общий наркоз).

			div.col-3
				//Баннер-слайдер
				div.banner-slider
					div.banner-block
						img(src='#{srcPath}img/content/banner.jpg')
						div.banner-inner Консультация стоматолога 
							br 
							|со скидкой 25%
							a.btn.action-toggle(href="#" data-book-info="Консультация стоматолога со скидкой 25%" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
					//Вариант баннера с белым текстом
					div.banner-block.white-text
						img(src='#{srcPath}img/content/banner2.jpg')
						div.banner-inner Скидка 15% 
							br
							|на лазерное
							br
							|отбеливание зубов
							a.btn.action-toggle(href="#" data-book-info="Скидка 15% на лазерное отбеливание зубов" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться

		//Стоматологи-терапевты
		h2 Комплексные программы

		include ../modules/actions

			


//Персональные скрипты для этой страницы
//block pageJS
