extends ../layout-inner
include ../mixins/quot


block title
	| Терапия. Лечение зубов
block content
	//include ../modules/clinic-tiles


	//Страница внутренняя
	div.contents.inner-page

		div.relative
			h1 Терапия. Лечение зубов
			a.back-link.blue-link.hover-link(href="#") Сеть стоматологических клиник «САДКО»

		div.row-flex.inner-about
			//Текстовый блок
			div.col-9.textblock
				p Во всем мире белоснежная, красивая улыбка является символом здоровья и успеха. Регулярное посещение стоматолога в развитых странах давно стало естественным и обязательным для воспитанных и интеллигентных людей — это бред, так нельзя писать.

				p В нашей стране порой даже самые образованные и обеспеченные люди пренебрегают здоровьем зубов и обращаются к стоматологу, когда помочь им может либо хирург, либо протезист. Эта позиция в корне не верна. Современная стоматология достигла таких вершин, что лечение зубов стало абсолютно безболезненной, эффективной процедурой — и это тоже попахивает неправдой. В нашей стране в деревне Гадюкино такое леченние зубов, что любой, даже самый образованный интеллигент будет откладывать визит к стоматологу до последнего.

				p Терапевтическая стоматология очень важна, так как именно кариес является причиной 97% заболеваний зубов и их осложнений. Кроме того, пораженность кариесом населения достигает практически 100%. Причем кариес не является «болезнью цивилизации», доказано наличие кариеса у наших далеких предков.

				p Терапевтическая стоматология в клинике Садко – это абсолютно безопасно и безболезненно. Все специалисты работают по международной программе Антиспид Антигепатит. Весь инструментарий проходит поэтапную обработку: предварительная очистка, дезинфекция, упаковка в пакет и термообработка. Перчатки, стаканы, слюноотсосы, иглы и т.п. только одноразового использования. Дезинфекционную обработку стоматологических установок и другого медицинского оборудования проводят после каждого пациента. Лечение осуществляется безболезненно. Для этого используются сверхтонкие иглы, а десна смазывается обезболивающим гелем. Для качественной анестезии применяются лучшие мировые анестетики, а их подбор осуществляется строго индивидуально, что позволяет исключить все осложнения и легко проводить даже самые сложные манипуляции.

			div.col-3
				//Баннер-слайдер
				div.banner-slider
					div.banner-block
						img(src='#{srcPath}img/content/banner.jpg')
						div.banner-inner Консультация стоматолога 
							br 
							|со скидкой 25%
							a.btn.action-toggle(href="#" data-book-info="Консультация стоматолога со скидкой 25%" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
					//Вариант баннера с белым текстом
					div.banner-block.white-text
						img(src='#{srcPath}img/content/banner2.jpg')
						div.banner-inner Скидка 15% 
							br
							|на лазерное
							br
							|отбеливание зубов
							a.btn.action-toggle(href="#" data-book-info="Скидка 15% на лазерное отбеливание зубов" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться

		h2 Терапевтические услуги

		div.row-flex.special-wrapper
			div.col-9
				//Список услуг
				div.row-flex.doctor-special-masonry
					//Блок с услугой
					div.col-6.doctor-special-block
						a.special-header.blue-link.hover-link(href="#") Лечение кариеса
						div.textblock Кариес – это заболевание твердых тканей зуба, вызванное действием микроорганизмов. Развивается кариес молочных зубов незаметно, но гораздо быстрее, чем у постоянных. Связано это с особенностями строения молочных зубов, а также перенесенными ранее заболеваниями и лечением антибиотиками.момент, когда зубная боль становится сильной и даже невыносимой. Лишь тогда обычно обращаются в клинику.
						//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
						div.hover-block
							a.btn.book-toggle(href="#" data-book-info="Записаться на лечение кариеса" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение кариеса.") Записаться
					//Блок с услугой
					div.col-6.doctor-special-block
						a.special-header.blue-link.hover-link(href="#") Лечение пульпита
						div.textblock Наиболее часто пульпит является осложнением кариеса, а также может быть следствием неправильных действий врача (обточка зуба под ортопедические конструкции, некачественные пломбы, оперативные вмешательства на пародонте, воздействие химических веществ). Также описаны случаи ретроградного пульпита (то есть инфицирование через апикальное отверстие). Есть 2 вида попадания инфекции в пульповую камеру: интердентальный (через коронку зуба) и ретроградный (когда инфекция попадает через апикальное отверстие). 
						//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
						div.hover-block
							a.btn.book-toggle(href="#" data-book-info="Записаться на лечение пульпита" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение пульпита.") Записаться
					//Блок с услугой
					div.col-6.doctor-special-block
						a.special-header.blue-link.hover-link(href="#") Лечение периодонтита
						div.textblock Периодонти́т — это воспаление периодонта, характеризующееся нарушением целостности связок, удерживающих зуб в альвеоле, кортикальной пластинки кости, окружающей зуб и резорбции костной ткани от незначительных размеров до образования кист больших размеров.
						//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
						div.hover-block
							a.btn.book-toggle(href="#" data-book-info="Записаться на лечение периодонтита" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение периодонтита.") Записаться
					//Блок с услугой
					div.col-6.doctor-special-block
						a.special-header.blue-link.hover-link(href="#") Лечение зубов под микроскопом
						div.textblock У стоматологов сети клиник САДКО появилась возможность сохранить даже такие зубы, которые ранее казались безнадежными из-за сильного воспаления и невозможности повторного лечения, то есть требовали удаления. Сегодня восстановление таких зубов - это реальность, и помогает нашим специалистам в этом Дентальный микроскоп – созданный специально для сверхточного лечения так называемых «сложных» зубов.
						//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
						div.hover-block
							a.btn.book-toggle(href="#" data-book-info="Записаться на лечение зубов" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение зубов.") Записаться
					//Блок с услугой
					div.col-6.doctor-special-block
						a.special-header.blue-link.hover-link(href="#") Лечение зубов во сне (под седацией)
						div.textblock Сегодня безболезненность всех диагностических и лечебных манипуляций в стоматологии – является важнейшим условием эффективного лечения. Но если страх перед стоматологом очень силен, то местной анестезии явно не достаточно. Все стоматологические услуги в клинике Садко по желанию пациента или по медицинским показаниям проводятся с анестезиологическим обеспечением, в частности успешно применяется лечение под общим обезболиванием (наркоз) как для взрослых,так и для детей в амбулаторных условиях, при этом лечение проходит во сне и разумеется безболезненно. 
						//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
						div.hover-block
							a.btn.book-toggle(href="#" data-book-info="Записаться на лечение зубов во сне" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение зубов во сне.") Записаться	
					//Блок с услугой
					div.col-6.doctor-special-block
						a.special-header.blue-link.hover-link(href="#") Отбеливание зубов
						div.textblock Диодный лазер <a href="#">EzLase BIOLASE</a> — это лазерный аппарат нового поколения, используемый как в хирургии, так и в таком популярном в наши дни направлении эстетической стоматологии, как отбеливание зубов. Использование этого аппарата позволяет добиться результативности осветления до 6-13 тонов. Производит этот инновационный прибор — самая известная компания, поставляющая на мировой рынок стоматологические лазеры — Biolase Technology (США). Компания ведет свою деятельность с 1986 года.
						//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
						div.hover-block
							a.btn.book-toggle(href="#" data-book-info="Записаться на отбеливание зубов" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на отбеливание зубов.") Записаться	
					//Блок с услугой
					div.col-6.doctor-special-block
						a.special-header.blue-link.hover-link(href="#") Лечение зубов без бор-машины
						div.textblock Чего мы больше всего боимся, отправляясь лечить зубы? - Боли и звука бор-машины. А что говорить о детях, для которых поход к стоматологу становится, порой, настоящим испытанием. Если с болью современная медицина научилась справляться и достаточно успешно, то вот неприятный звук бор-машины все еще является неотъемлемым спутником стоматологической процедуры. И как не настраивай маленького пациента, какие подарки ему не обещай, мысль о том, что доктор будет приближаться к нему с этим «ужасным» аппаратом, будет мучить его постоянно. Спешим порадовать маленьких пациентов детской стоматологии «Динозубрик» и их родителей — теперь лечить зубы можно практически бесшумно благодаря лазерным технологиям!
						//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
						div.hover-block
							a.btn.book-toggle(href="#" data-book-info="Записаться на лечение зубов" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на лечение зубов.") Записаться	

			div.col-3
				//Задать вопрос доктору
				form.text-panel.qa-form
					span.text-panel--title Спросить
					.text-panel--section
						.qa-form--row
							label Ваше имя
							input(type='text').-border-input-
						.qa-form--row
							label Возраст
							input(type='text').-border-input-
						.qa-form--row
							label E-mail
							input(type='text').-border-input-
					.text-panel--section
						p
							strong Ваш вопрос
						textarea.autosize
					label.form--accept-checkbox.text-panel--section
						input(type='checkbox').check-radio
						span Я принимаю <a href='#' class='-link-turq-'>условия</a> обработки моих данных
					p.-text-center-
						a.btn.qa-form--submit Задать вопрос доктору

		//Стоматологи-терапевты
		h2 Стоматологи-терапевты

		include ../personal-modules/doctors-clinic-page

			


//Персональные скрипты для этой страницы
//block pageJS
