//Образование

.education-page{

	h3{
		font-size: 36px;
		line-height: 36px;
	}

	.filter-wrapper{
		margin: 19px 0px;
	}

	.doctor-block{
		margin-top: 19px;
	}

	.education-header{
		margin-top: 33px;
		margin-bottom: 15px;
	}

	.doctor-articles{
		margin-bottom: 50px;
	}

	.promo-video{
		margin-bottom: 35px;
	}

	.academy-header{
		margin-top: 40px;
		margin-bottom: 33px;
	}

	.more-articles{
		margin-bottom: 0px;
	}

	.textblock.about-education{
		font-size: 18px;
		line-height: 24px;
		width: 75%;
		margin-bottom: 25px;

		a{
			color: #33beb7;
	    	border-color: #c1ebe9;
		}
	}

}


