//Отзывы

.reviews-page{
	padding-top: 46px;
	padding-bottom: 38px;

	.page-header{
		margin-bottom: 36px;
	}

	.doc-hello{
		margin-bottom: 28px;
	}

	.doc-hello--content--title{
		margin-bottom: 24px;
	}

	.more-reviews{
		margin-top: 26px;
	}

	.accordion{
		margin-bottom: 50px;
	}
}