//Блок с данными доктора
div.full-doctor-block.clear
	
	//Информация о доктор
	div.doctor-info

		//Навыки
		div.doctor-skills.textblock 
			| <b>Заведующий отделением</b>, Ведущий специалист, Стоматолог-терапевт, Стоматолог-ортопед
		//Быстрая запись
		div.doctor-phone 
			a(href="#") +7 (831) 421-01-01
			| - быстрая запись на приём
		//Эксперты
		div.doctor-skills.doctor-experts.textblock 
			| <b>Последователь экспертов:</b>
			br
			i E. Mclaren (США), D. Massironi (Италия)
		div.doctor-skills.doctor-experts.textblock 
			| <b>Обучение</b>:
			//Флаги. В дата-атрибуте - всплывающий по наводке текст
			div.flags
				img.show-text(src='#{srcPath}img/icons/jamaica.png' data-text="Ямайка")
				img.show-text(src='#{srcPath}img/icons/romania.png' data-text="Румыния")
				img.show-text(src='#{srcPath}img/icons/croatia.png' data-text="Хорватия")
		//Эксперты
		div.doctor-skills.doctor-experts.textblock 
			| <b>Стаж работы:</b>
			br
			| 15 лет
		//Филиалы
		div.doctor-skills.doctor-experts.textblock
			b Доктор ведёт приём в филиалах:
			ul.doctor-address
				li
					a.blue-link.hover-link(href="#") ул. Бекетова, 13
					|,
				li
					a.blue-link.hover-link(href="#") ул. Родионова, 199
		//Кнопки
		div.buttons-wrapper.clear
			//Здесь в data-атрибутах указывается заголовок и текст, которые будут показываться в форме записи на приём. Если заголовка нет - будет показан стандартный вариант, но лучше указать даже его.
			a.btn.book-toggle.left(href="#" data-book-info="Записаться на приём к доктору Язовцеву" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться на приём

			//Кнопка с вызовом попапа
			div.open-question-wrapper.left
				//Ссылка
				a.btn.open-question-popup(href="#") Оставить отзыв

				include ../modules/review-popup

		//Вопросы
		div.doctor-skills.doctor-questions.textblock 
			| <b>Не нужно стесняться!</b>
			br
			i Каждый четвертый пациент на приеме у врача задает вопросы, которые можно решить не записываясь к специалисту и не трятя деньги. Не бойтесь использовать возможности сайта — он разработан специально для вас. 

		//Кнопка с вызовом попапа
		div.open-question-wrapper
			//Ссылка
			a.btn.btn-reverse-colors.open-question-popup(href="#") Задать вопрос
			include ../modules/question-popup

	//Видео и цитата
	div.doctor-video-wrapper
		//Видеоблок
		div.video-wrapper
			div.video-overblock
			div.video-frame
				<iframe src="https://player.vimeo.com/video/9532951?color=ffffff&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			//Открыть видео
			a.doc-gallery--item--listen.-link-wrap-.-link-white-.video-button
				div.doc-gallery--item--listen--ico
					i.ico-play
				span.start-video Прослушать <br> обращение врача
				span.pause-video Остановить <br> видео
		//Цитата
		div.doctor-quote.textblock Cпециалист высочайшего класса! Он не просто лечит и восстанавливает, этот доктор создает совершенно новые звездные улыбки, создает улыбки мечты! Непрерывно совершенствуясь в своих профессиональных навыках, Михаил Юрьевич создает стандарты качества лечения совершенно иного порядка. «На сегодняшний день пациента интересует не только качественный реставрационный этап работы, он предъявляет требования высокого эстетического характера. Соответственно, задача современной стоматологии сводится не просто к восстановлению нарушенных функций зуба, стоит вопрос о предоставлении пациенту возможности перехода на более новый качественный уровень жизни». Михаил Юрьевич воплощает в себе те основные принципы и ценности, на которые опирается клиника в целом: порядочность, честность и невероятную ответственность за проделанную работу

			
//Историческое
div.doctor-history-block.special-block.clear
	div.textblock
		h3 Историческая справка
		p Когда был Ленин маленький, с кудрявой головой, он тоже бегал в валенках по горке ледяной. Когда был Ленин маленький, похож он был на нас, зимой носил он валенки, и шарф носил, и варежки. И падал в снег не раз. Любил играть в лошадки, и бегать и скакать, разгадывать загадки и в прятки поиграть. Когда был Ленин маленький, такой, как мы с тобой, любил он у проталинки по лужице по маленькой пускать кораблик свой. Как мы, шалить умел он, как мы, он петь любил, правдивым был и смелым. Таким наш Ленин был.
		p В 1879—1887 годах Владимир Ульянов учился в Симбирской гимназии, которой руководил Ф. М. Керенский, отец А. Ф. Керенского, будущего главы Временного Правительства (1917). В 1887 году окончил гимназию с золотой медалью и поступил на юридический факультет Казанского университета. Ф. М. Керенский был очень разочарован выбором Володи Ульянова, так как советовал ему поступать на историко-словесный факультет университета ввиду больших успехов младшего Ульянова в латыни и словесности.
	//Картинка
	div.image-wrapper
		img(src="#{srcPath}img/doctor-photos/history.jpg" alt="")
		div.about-image Профессор стоматологической гимназии Ф.Ф. Покровский изымает шпаргалку у будущего доктора Язовцева