

//Специализации доктора
div.doctor-special-full-block.special-block.clear
	//Картинка
	div.image-wrapper
		img(src="#{srcPath}img/doctor-photos/special1.jpg" alt="")
		div.-text-center-
			//Здесь в data-атрибуте указывается заголовок, который будет показываться в форме записи на приём. Если заголовка нет - будет показан стандартный вариант, но лучше указать даже его.
			a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться на обследование 
	//Текстовое
	div.textblock
		h2 Обследование на конусно-лучевом компьютерном дентальном томографе PaX-Reve 3D
		|Центр Развития Стоматологии «Садко» начинает работать c новым диагностическим аппаратом — компьютерным томографом PaX-reve 3D, созданным мировым лидером в области компьютерной томографии, компанией «Vatech» (Южная Корея). Компьютерная томография является неотъемлемым помощником при планировании любого стоматологического вмешательства, будь  то протезирование, имплантация, терапевтическое или хирургическое лечение. я, терапевтическое или хирургическое лечение я, терапевтическое или хирургическое лечение
		
//Специализации доктора
div.doctor-special-full-block.special-block.clear
	//Картинка
	div.image-wrapper
		img(src="#{srcPath}img/doctor-photos/special2.jpg" alt="")
		div.-text-center-
			//Здесь в data-атрибуте указывается заголовок, который будет показываться в форме записи на приём. Если заголовка нет - будет показан стандартный вариант, но лучше указать даже его.
			a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться на обследование
	div.textblock
		h2 УЗИ с эластографией. Обследование образований в мягких тканях
		|Эластография - это метод ультразвуковой диагностики. Технология определяет наличие и характер развития образований с помощью дополнительного давления на поверхностные ткани. В зависимости от эластичности тканей, врач дифференцирует доброкачественность или злокачественность опухоли. Сочетание ультразвуковой диагностики с эластографией дает максимально точные результаты исследования образований на  ранних стадиях развития!

//Блок на две колонки
div.row-flex.about-doctor-special
	//Тут две колонки - в одной блоки с услугами доктора, в другой - баннер
	div.col-9
		h3 Стоматология
		div.row-flex.doctor-special-masonry
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") Консультация
				div.textblock Регулярное посещение стоматолога в развитых странах давно стало естественным и обязательным для воспитанных и интеллигентных людей.
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block
					a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") Отбеливание зубов
				div.textblock Улыбка каждого человека — это его индивидуальная особенность. Также как не бывает совершенно одинаковых глаз и отпечатков пальцев, каждая улыбка — уникальна. 
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block

					a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") Имплантация зубов
				div.textblock Имплантология — лидирующее направление современной стоматологии, позволяющее успешно лечить адентию (отсутствие зубов) у пациентов
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block
					a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") Лечение под микроскопом
				div.textblock У стоматологов сети клиник САДКО появилась возможность сохранить даже такие зубы, которые ранее казались безнадежными из-за сильного воспаления и невозможности повторного лечения, то есть требовали удаления. 
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block
					a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") Лечение зубов во сне
				div.textblock Помните знаменитый детский мультфильм про маленькую птичку Тари, которая помогла крокодилу вычистить и вылечить зубы? Хорошо, что у крокодила нашлась такая помощница, а то долго бы он мучился и страдал от зубной боли
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block
					a.btn.book-toggle(href="#" data-book-info="Записаться на лечение к доктору Язовцеву" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
		h3 Гастроэнтерология
		div.row-flex.doctor-special-masonry
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") Консультация
				div.textblock Регулярное посещение стоматолога в развитых странах давно стало естественным и обязательным для воспитанных и интеллигентных людей.
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block
					a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") Колоноскопия
				div.textblock Это диагностическая медицинская процедура, во время которой врач-эндоскопист осматривает и оценивает состояние внутренней поверхности толстой кишки при помощи специального зонда.
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block
					a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
			//Блок со специализацией
			div.col-6.doctor-special-block
				a.special-header.blue-link.hover-link(href="#") ФГДС
				div.textblock Гастроскопия (ФГДС) является одной из разновидностей эндоскопического исследования, при которой врач осматривает с помощью специального прибора (гастроскопа) верхние отделы желудочно-кишечного тракта (пищевод, полости желудка и двенадцатиперстной кишки).
				//Всплывающий блок и кнопка записи - кнопке, вероятно, надо какие-то атрибуты присваивать для передачи в форму
				div.hover-block
					a.btn.book-toggle(href="#" data-book-info="Приём ведёт Язовцев Дмитрий Николаевич" data-doctor-id="536" data-form-action="/staff/536/?ELEMENT_CODE=536"  data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Язовцеву.") Записаться
	div.col-3
		//Баннер-слайдер
		div.banner-slider
			div.banner-block
				img(src='#{srcPath}img/content/banner.jpg')
				div.banner-inner Консультация стоматолога 
					br 
					|со скидкой 25%
					a.btn.action-toggle(href="#" data-book-info="Консультация стоматолога со скидкой 25%" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
					
			//Вариант баннера с белым текстом
			div.banner-block.white-text
				img(src='#{srcPath}img/content/banner2.jpg')
				div.banner-inner Скидка 15% 
					br
					|на лазерное
					br
					|отбеливание зубов
					a.btn.action-toggle(href="#" data-book-info="Скидка 15% на лазерное отбеливание зубов" data-book-about="<p> <b>Только до 15 октября 2015 года</b> получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p> <p> Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
