/* -------------------------------------------------
    Clinic tiles config
   ------------------------------------------------- */

$tileBaseHeight: 250px;
$tileBaseWidth: 386px;
$tileSlimWidth: 290px;
$tileMiddleHeight: 450px;
$tileHorPadding: 30px;
$tileVertPadding: 28px;
$tileBaseTitleHeight: 75px;
$tileBg: #ededed;

$tileTypesColors:
1 #8ecdf6,
2 #e296bf,
3 #8582bc,
4 #edc158,
5 #97c89a,
6 #6bbfbe,
7 #efbf88,
8 #93cac4,
9 #d44f68,
10 #88a3d6,
11 #92c37c,
12 #da6f5b,
13 #546e7a,
14 #da6f5b,
15 #88a3d6,
16 #97c89a,
17 #d44f68,
18 #6bbfbe,
19 #edc158,
20 #93cac4;