@import "../base-colors";

/* -------------------------------------------------
    Panel
   ------------------------------------------------- */

.panel {
  background: #f4f5ef;
  padding: 26px;
  margin-bottom: $sectionMargin;
}

.text-panel {
  background: #f4f5ef;
  padding: 17px 26px;
  font-size: 16px;
  margin-bottom: $sectionMargin;

  &.spoiler{
    display: none;
  }

  &.-no-m- {
    margin-bottom: 0;
  }

  &.-bg-white- {
    background: #fff;
  }

  &.-bordered- {
    border-radius: 2px;
  }
  
  &.-extended-padding- {
    padding-left: 38px;
    padding-right: 38px;
  }

  &.-negative-tm- {
    margin-top: -$sectionMargin;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.text-panel--title {
  display: block;
  font-size: 36px;
  line-height: 1;
  font-family: $bFontFamily;
  margin-bottom: 22px;
}

.text-panel--section {
  margin-bottom: 24px;
}
