@import "../base";

/* -------------------------------------------------
    Quot
   ------------------------------------------------- */

.quot {
  display: block \9;
  margin-bottom: $sectionMarginSmaller;

  &.-quot-no-border- {
    .quot--text {
      &:after {
        display: none;
      }
    }
  }
}

.quot--text {
  font-size: 36px;
  line-height: 1;
  padding-left: 62px;
  position: relative;

  &:before {
    content: '';
    font-family: 'Proxima-Nova', $bFontFamily;
    font-size: 82px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 3px;

    width: 30px;
    height: 22px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -297px -127px;
  }

  &:after {
    content: '';
    background: #585858;
    position: absolute;
    height: 100%;
    width: 1px;
    left: calc(100% + #{$bLayoutPadding * 2});
    top: 0;

    @include transform(rotate(10deg));
  }
}


.quot--author[class*='col-'] {
  padding-left: 75px;
  font-family: Arial, $bFontFamily;

  @include align-self(flex-end);

  a {
    font-size: 14px;
    font-weight: bold;
  }
}
.quot--author--position {
  margin-top: 2px;
  display: block;
  font-style: italic;
  font-size: 14px;
}

//Цитата с фотографией
.quot-photo-wrapper{
  padding-left: 209px;
  min-height: 123px;
  margin: 32px 0px 35px 0px;
  position: relative;

  .quote-author-photo{
    position: absolute;
    left: 23px;
    top: 0px;
    display: block;
    width: 123px;
    height: 123px;
    border-radius: 50%;
  }

  .quot-text{
    font-size: 24px;
    line-height: 30px;
    padding: 9px 100px 0px 0px;
  }

  .quot-author{
    font-size: 18px;
    line-height: 30px;
    color: #787878;
    font-style: italic;
    margin-top: 8px;
  }
}