//Слайдер Поликлиники

.about-slider{
	width: 100%;
	//height: 887px;
	margin-bottom: 12px;

	.slide-photo{
		overflow: hidden;
		width: 100%; height: 100%;
		img{
			display: block;
		}
	}

	.owl-stage-outer, .owl-stage, .owl-item, .slide{
		width: 100%;
		height: 100%;
	}

	.owl-controls{
		bottom: 0px; left: 0px;
		right: 0px;
		position: absolute;

		.owl-dots{
			width: 1200px;
			margin: 0px auto;
			padding: 0px;
			position: relative;
			bottom: 120px; left: 20px;
		}
	}

	.about-header{
		position: absolute;
		left: 20px; top: 40px;
		font-family: 'proxima-nova', "Open Sans", sans-serif;
		letter-spacing: 1px;
    	font-weight: 100;
   		font-size: 60px;
    	color: #fff;
	}

	.slide{
		position: relative;

		.contents{
			position: absolute;
			top: 0px; left: 50%;
			height: 100%;
			margin-left: -600px;
		}

		.slide-text{
			position: absolute;
			bottom: 50px;
			left: 20px; right: 20px;
			font-size: 36px;
			line-height: 36px;
			font-weight: bold;
			color: #fff;
		}
	}

	.owl-dot{
		display: inline-block;
		vertical-align: top;
		width: 10px; height: 10px;
		margin-right: 10px;
		border: 2px solid #fff;
		background-color: transparent;
		border-radius: 50%;

		&.active,
		&:hover{
			background-color: #fff;
		}
	}
}